<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/public/js/pokemon.js"></script>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body class="{{class}}">
    <nav class="genSelector">
        <ul id="genList">
            <!-- <li><a href="/list/1" class="genOpt">Generation 1</a></li>
            <li><a href="/list/2" class="genOpt">Generation 2</a></li>
            <li><a href="/list/3" class="genOpt">Generation 3</a></li>
            <li><a href="/list/4" class="genOpt">Generation 4</a></li>
            <li><a href="/list/5" class="genOpt">Generation 5</a></li>
            <li><a href="/list/6" class="genOpt">Generation 6</a></li>
            <li><a href="/list/7" class="genOpt">Generation 7</a></li>
            <li><a href="/list/8" class="genOpt">Generation 8</a></li> -->
            <li>Generation 1</li>
            <li>Generation 2</li>
            <li>Generation 3</li>
            <li>Generation 4</li>
            <li>Generation 5</li>
            <li>Generation 6</li>
            <li>Generation 7</li>
            <li>Generation 8</li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>
