body {
    background-color: #222222;
}

h1, li, p {
    color: #dddddd;
}

h1, p {
    text-align: center;
}

.cryButton {
    border-radius: 20px;
    border: 2px solid #000000;
    background-color: white;
    padding: 5px;
    margin: 15px;
    filter: drop-shadow(10px 10px 5px #000000);

    /* make the text unhighlightable. */
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.cryButton:hover:active {
    filter: brightness(50%) drop-shadow(10px 10px 5px #000000);
}

.cryButton:hover {
    filter: brightness(75%) drop-shadow(10px 10px 5px #000000);
    cursor: pointer;
}

.cryImg {
    width: 50px;
    height: 50px;
}

/* these hex codes can be found at https://bulbapedia.bulbagarden.net/wiki/Template:[GAME]_color */
.gen1 {
    background: linear-gradient(120deg, #FF1111 20%, #1111FF 80%);
}

.gen2 {
    background: linear-gradient(120deg, #DAA520 20%, #C0C0C0 80%);
}

.gen3 {
    background: linear-gradient(120deg, #A00000 20%, #0000A0 80%);
}

.gen4 {
    background: linear-gradient(120deg, #AAAAFF 20%, #FFAAAA 80%);
}

.gen5 {
    background: linear-gradient(120deg, #444444 20%, #E1E1E1 80%);
}

.gen6 {
    background: linear-gradient(120deg, #025DA6 20%, #EA1A3E 80%);
}

.gen7 {
    background: linear-gradient(120deg, #F1912B 20%, #5599CA 80%);
}

.gen8 {
    background: linear-gradient(120deg, #00A1E9 20%, #BF004F 80%);
}

.gen9 {
    background: linear-gradient(120deg, #F34134 20%, #8334B7 80%);
}

.genList {
    padding: 10px;
    cursor: pointer;
    min-width: 150px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    color: black;
}

.genList:hover {
    filter: brightness(75%);
    color: black;
}

.listItem {
    list-style-type: none;
    text-align: left;
}

.revealImg1 {
    width: 256px;
    height: 256px;
}

.revealImg2, .revealImg3, .revealImg4 {
    width: 128px;
    height: 128px;
}

.revealImg5, .revealImg6 {
    width: 64px;
    height: 64px;
}

.unselectedGen {
    filter: grayscale(2);
    color: white;
}

#answerContainer {
    text-align: center;
    position: relative;
}

#answerImg {
    position: relative;
    height: 260px;
}

#dropdown {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -150px;
    overflow-y: scroll;
    height: 300px;
    width: 300px;
}

#selectedItem {
    background-color: #3875D7;
    cursor: pointer;
}

#genList {
    padding: 0;
    background: #000000;
    border: 2px solid #000000;
    gap: 2px;
    border-radius: 20px;
    overflow: hidden;
}

#genList, #genListExtras {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

#genList > .genList {
    flex: 1 0 auto;
}

#genList1 {
    background: url("/public/images/0006.png") no-repeat left / 50px,
                url("/public/images/0009.png") no-repeat right / 50px,
                linear-gradient(120deg, #FF1111 20%, #1111FF 80%);
}

#genList2 {
    background: url("/public/images/0250.png") no-repeat left / 50px,
                url("/public/images/0249.png") no-repeat right / 50px,
                linear-gradient(120deg, #DAA520 20%, #C0C0C0 80%);
}

#genList3 {
    background: url("/public/images/0383.png") no-repeat left / 50px,
                url("/public/images/0382.png") no-repeat right / 50px,
                linear-gradient(120deg, #A00000 20%, #0000A0 80%);
}

#genList4 {
    background: url("/public/images/0483.png") no-repeat left / 50px,
                url("/public/images/0484.png") no-repeat right / 50px,
                linear-gradient(120deg, #AAAAFF 20%, #FFAAAA 80%);
}

#genList5 {
    background: url("/public/images/0643.png") no-repeat left / 50px,
                url("/public/images/0644.png") no-repeat right / 50px,
                linear-gradient(120deg, #444444 20%, #E1E1E1 80%);
}

#genList6 {
    background: url("/public/images/0716.png") no-repeat left / 50px,
                url("/public/images/0717.png") no-repeat right / 50px,
                linear-gradient(120deg, #025DA6 20%, #EA1A3E 80%);
}

#genList7 {
    background: url("/public/images/0791.png") no-repeat left / 50px,
                url("/public/images/0792.png") no-repeat right / 50px,
                linear-gradient(120deg, #F1912B 20%, #5599CA 80%);
}

#genList8 {
    background: url("/public/images/0888_crowned sword.png") no-repeat left / 50px,
                url("/public/images/0889_crowned shield.png") no-repeat right / 50px,
                linear-gradient(120deg, #00A1E9 20%, #BF004F 80%);
}

#genList9 {
    background: url("/public/images/1007.png") no-repeat left / 50px,
                url("/public/images/1008.png") no-repeat right / 50px,
                linear-gradient(120deg, #F34134 20%, #8334B7 80%);
}

#genListExtras > .genList {
    border: 2px solid #000000;
}

#genSelector {
    /* make the text unhighlightable. */
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#showAll {
    border-radius: 20px 0px 0px 20px;
}

#showNone {
    border-radius: 0px 20px 20px 0px;
}

#showAll, #showNone {
    background-color: #dddddd;
}

#dropdown, .listItem {
    background-color: #555555;
}

#img0.revealImg2 {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -128px;
}
#img1.revealImg2 {
    position: absolute;
    top: 128px;
    left: 50%;
}

#img0.revealImg3 {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -64px;
}
#img1.revealImg3 {
    position: absolute;
    top: 128px;
    left: 50%;
    margin-left: -128px;
}
#img2.revealImg3 {
    position: absolute;
    top: 128px;
    left: 50%;
}

#img0.revealImg4 {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -128px;
}
#img1.revealImg4 {
    position: absolute;
    top: 0px;
    left: 50%;
}
#img2.revealImg4 {
    position: absolute;
    top: 128px;
    left: 50%;
    margin-left: -128px;
}
#img3.revealImg4 {
    position: absolute;
    top: 128px;
    left: 50%;
}

#img0.revealImg5 {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -128px;
}
#img1.revealImg5 {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 64px;
}
#img2.revealImg5 {
    position: absolute;
    top: 96px;
    left: 50%;
    margin-left: -32px;
}
#img3.revealImg5 {
    position: absolute;
    top: 192px;
    left: 50%;
    margin-left: -128px;
}
#img4.revealImg5 {
    position: absolute;
    top: 192px;
    left: 50%;
    margin-left: 64px;
}

#img0.revealImg6 {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -96px;
}
#img1.revealImg6 {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 32px;
}
#img2.revealImg6 {
    position: absolute;
    top: 96px;
    left: 50%;
    margin-left: -96px;
}
#img3.revealImg6 {
    position: absolute;
    top: 96px;
    left: 50%;
    margin-left: 32px;
}
#img4.revealImg6 {
    position: absolute;
    top: 192px;
    left: 50%;
    margin-left: -96px;
}
#img5.revealImg6 {
    position: absolute;
    top: 192px;
    left: 50%;
    margin-left: 32px;
}
