body {
    background-color: #222222;
}

h1, li, p {
    color: #dddddd;
}

h1, p {
    text-align: center;
}

.cryButton {
    border-radius: 20px;
    border: 2px solid #000000;
    background-color: #dddddd;
    padding: 5px;
    margin: 15px;
    filter: drop-shadow(10px 10px 5px #000000); /*not skip??*/
    display: flex;
}

.cryButton, .toggleSwitch, #genSelector, #langSelector, #skipButton {
    /* make the text unhighlightable. */
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.cryButton:hover:active {
    filter: brightness(50%) drop-shadow(10px 10px 5px #000000);
}

.cryButton:hover {
    filter: brightness(75%) drop-shadow(10px 10px 5px #000000);
    cursor: pointer;
}

.cryImg {
    width: 50px;
    height: 50px;
}

/* these hex codes can be found at https://bulbapedia.bulbagarden.net/wiki/Template:[GAME]_color */
.gen1 {
    background: linear-gradient(120deg, #FF1111 20%, #1111FF 80%);
}

.gen2 {
    background: linear-gradient(120deg, #DAA520 20%, #C0C0C0 80%);
}

.gen3 {
    background: linear-gradient(120deg, #A00000 20%, #0000A0 80%);
}

.gen4 {
    background: linear-gradient(120deg, #AAAAFF 20%, #FFAAAA 80%);
}

.gen5 {
    background: linear-gradient(120deg, #444444 20%, #E1E1E1 80%);
}

.gen6 {
    background: linear-gradient(120deg, #025DA6 20%, #EA1A3E 80%);
}

.gen7 {
    background: linear-gradient(120deg, #F1912B 20%, #5599CA 80%);
}

.gen8 {
    background: linear-gradient(120deg, #00A1E9 20%, #BF004F 80%);
}

.gen9 {
    background: linear-gradient(120deg, #F34134 20%, #8334B7 80%);
}

.genList, .langList {
    padding: 10px;
    cursor: pointer;
    height: 10px;
    text-align: center;
    line-height: 10px;
    color: black;
}

.genList {
    min-width: 150px;
}

.genList:hover, .langList:hover {
    filter: brightness(75%);
    color: black;
}

.listItem {
    list-style-type: none;
    text-align: left;
}

.retro {
    image-rendering: pixelated;
    object-fit: contain;
}

.revealImg1 {
    width: 256px;
    height: 256px;
}


.revealImg2, .revealImg3, .revealImg4 {
    width: 128px;
    height: 128px;
}

.revealImg5, .revealImg6 {
    width: 84px;
    height: 84px;
}

.suppressedRetro, .suppressedSimple {
    display: none !important;
}

.toggleInput {
    display: none;
}

.toggleInput:checked + .toggleSwitch .toggleSlider {
    margin-left: -100%;
}

.toggleSlider {
    display: block;
    width: 200%;
    transition: 0.2s ease-in 0s;
}

.toggleSlider::before, .toggleSlider::after {
    display: inline-block;
    width: 50%;
    height: 40px;
    box-sizing: border-box;
    padding: 10px 15px;
}

.toggleSwitch {
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 20px;
    width: 150px;
    height: 40px;
}

.toggleWrapper {
    display: inline-block;
}

.unselectedGen {
    filter: grayscale(2);
    color: white;
}

#answerContainer, #statsContainer, #togglesContainer {
    text-align: center;
    position: relative;
}

#answerImg {
    position: relative;
    height: 260px;
}

#belowGenSelector {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

#containerContainer {
    display: flex;
    justify-content: space-around;
}

#dropdown {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -150px;
    overflow-y: scroll;
    height: 300px;
    width: 300px;
}

#dropdown, .listItem {
    background-color: #555555;
}

#selectedItem {
    background-color: #3875D7;
    cursor: pointer;
}

#genList, #langList {
    padding: 0;
    background: #000000;
    border: 2px solid #000000;
    gap: 2px;
    border-radius: 20px;
    overflow: hidden;
}

#genList, #genListExtras, #langList {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

#genList > .genList, #langList > .langList {
    flex: 1 0 auto;
}

#genList1 {
    background: url("/public/images/modern/0006.png") no-repeat left / 50px,
                url("/public/images/modern/0009.png") no-repeat right / 50px,
                linear-gradient(120deg, #FF1111 20%, #1111FF 80%);
}

#genList2 {
    background: url("/public/images/modern/0250.png") no-repeat left / 50px,
                url("/public/images/modern/0249.png") no-repeat right / 50px,
                linear-gradient(120deg, #DAA520 20%, #C0C0C0 80%);
}

#genList3 {
    background: url("/public/images/modern/0383.png") no-repeat left / 50px,
                url("/public/images/modern/0382.png") no-repeat right / 50px,
                linear-gradient(120deg, #A00000 20%, #0000A0 80%);
}

#genList4 {
    background: url("/public/images/modern/0483.png") no-repeat left / 50px,
                url("/public/images/modern/0484.png") no-repeat right / 50px,
                linear-gradient(120deg, #AAAAFF 20%, #FFAAAA 80%);
}

#genList5 {
    background: url("/public/images/modern/0643.png") no-repeat left / 50px,
                url("/public/images/modern/0644.png") no-repeat right / 50px,
                linear-gradient(120deg, #444444 20%, #E1E1E1 80%);
}

#genList6 {
    background: url("/public/images/modern/0716.png") no-repeat left / 50px,
                url("/public/images/modern/0717.png") no-repeat right / 50px,
                linear-gradient(120deg, #025DA6 20%, #EA1A3E 80%);
}

#genList7 {
    background: url("/public/images/modern/0791.png") no-repeat left / 50px,
                url("/public/images/modern/0792.png") no-repeat right / 50px,
                linear-gradient(120deg, #F1912B 20%, #5599CA 80%);
}

#genList8 {
    background: url("/public/images/modern/0888_crowned sword.png") no-repeat left / 50px,
                url("/public/images/modern/0889_crowned shield.png") no-repeat right / 50px,
                linear-gradient(120deg, #00A1E9 20%, #BF004F 80%);
}

#genList9 {
    background: url("/public/images/modern/1007.png") no-repeat left / 50px,
                url("/public/images/modern/1008.png") no-repeat right / 50px,
                linear-gradient(120deg, #F34134 20%, #8334B7 80%);
}

#genListExtras > .genList {
    border: 2px solid #000000;
}

#showAll {
    border-radius: 20px 0px 0px 20px;
}

#showNone {
    border-radius: 0px 20px 20px 0px;
}

#showAll, #showNone, .langList {
    background-color: #dddddd;
}

#skipButton {
    border-radius: 20px;
    border: 2px solid #000000;
    background-color: #dddddd;
    padding: 5px 15px;
    width: 100px;
    margin: 15px;
}

#skipButton:hover {
    filter: brightness(75%);
    cursor: pointer;
}

#toggleHardcoreSlider::after {
    content: "Hardcore";
    background: url("/public/images/modern/0877_hangry.png") no-repeat right / 50px,
                #7f5f7f;
    text-align: left;
}

#toggleHardcoreSlider::before {
    content: "Normal";
    background: url("/public/images/modern/0877_full belly.png") no-repeat left / 50px,
                #ffff7f;
    text-align: right;
}

#toggleSlowSlider::after {
    content: "Fast";
    background: url("/public/images/modern/0617.png") no-repeat right / 50px,
                #5f7f9f;
    text-align: left;
}

#toggleSlowSlider::before {
    content: "Slow";
    background: url("/public/images/modern/0616.png") no-repeat left / 50px,
                #ffffe7;
    text-align: right;
}

#toggleUnboundSlider::after {
    content: "Unbound";
    background: url("/public/images/modern/0720_unbound.png") no-repeat right / 50px,
                #c72380;
    text-align: left;
}

#toggleUnboundSlider::before {
    content: "Confined";
    background: url("/public/images/modern/0720_confined.png") no-repeat left / 50px,
                #ddd1ea;
    text-align: right;
}

#toggleRetroSlider::after {
    content: "Modern";
    background: url("/public/images/modern/0025.png") no-repeat right / 50px,
                #ffdf00;
    text-align: left;
}

#toggleRetroSlider::before {
    content: "Retro";
    background: url("/public/images/old/025.gif") no-repeat left / 50px,
                #ffef4f;
    text-align: right;
}

#toggleSimpleSlider::after {
    content: "Expanded";
    background: url("/public/images/modern/0746_school.png") no-repeat right / 50px,
                #2f7fbf;
    text-align: left;
}

#toggleSimpleSlider::before {
    content: "Simple";
    background: url("/public/images/modern/0746_solo.png") no-repeat left / 50px,
                #bfcfcf;
    text-align: right;
}


#img0.revealImg2 {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -128px;
}
#img1.revealImg2 {
    position: absolute;
    top: 128px;
    left: 50%;
}

#img0.revealImg3 {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -64px;
}
#img1.revealImg3 {
    position: absolute;
    top: 128px;
    left: 50%;
    margin-left: -128px;
}
#img2.revealImg3 {
    position: absolute;
    top: 128px;
    left: 50%;
}

#img0.revealImg4 {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -128px;
}
#img1.revealImg4 {
    position: absolute;
    top: 0px;
    left: 50%;
}
#img2.revealImg4 {
    position: absolute;
    top: 128px;
    left: 50%;
    margin-left: -128px;
}
#img3.revealImg4 {
    position: absolute;
    top: 128px;
    left: 50%;
}

#img0.revealImg5 {
    position: absolute;
    top: 1px;
    left: 50%;
    margin-left: -127px;
}
#img1.revealImg5 {
    position: absolute;
    top: 1px;
    left: 50%;
    margin-left: 43px;
}
#img2.revealImg5 {
    position: absolute;
    top: 86px;
    left: 50%;
    margin-left: -42px;
}
#img3.revealImg5 {
    position: absolute;
    top: 171px;
    left: 50%;
    margin-left: -127px;
}
#img4.revealImg5 {
    position: absolute;
    top: 171px;
    left: 50%;
    margin-left: 43px;
}

#img0.revealImg6 {
    position: absolute;
    top: 1px;
    left: 50%;
    margin-left: -99px;
}
#img1.revealImg6 {
    position: absolute;
    top: 1px;
    left: 50%;
    margin-left: 15px;
}
#img2.revealImg6 {
    position: absolute;
    top: 86px;
    left: 50%;
    margin-left: -99px;
}
#img3.revealImg6 {
    position: absolute;
    top: 86px;
    left: 50%;
    margin-left: 15px;
}
#img4.revealImg6 {
    position: absolute;
    top: 171px;
    left: 50%;
    margin-left: -99px;
}
#img5.revealImg6 {
    position: absolute;
    top: 171px;
    left: 50%;
    margin-left: 15px;
}
