<section>
    <h1>{{title}}</h1>
    <main>
        <p>A Repository containing all Pokémon cries - yes, even the alternate forms!</p>
        <p id="genIndicator">Generation 1</p>
        <div id="pkmnList"><div class="cryButton">

                    <img src="/public/images/0001.png" class="cryImg">
                    Bulbasaur

                <audio controls="">
                    <source src="/public/cries/0001.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0002.png" class="cryImg">
                    Ivysaur

                <audio controls="">
                    <source src="/public/cries/0002.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0003.png" class="cryImg">
                    Venusaur

                <audio controls="">
                    <source src="/public/cries/0003.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0003_mega.png" class="cryImg">
                    Venusaur-Mega

                <audio controls="">
                    <source src="/public/cries/0003_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0004.png" class="cryImg">
                    Charmander

                <audio controls="">
                    <source src="/public/cries/0004.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0005.png" class="cryImg">
                    Charmeleon

                <audio controls="">
                    <source src="/public/cries/0005.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0006.png" class="cryImg">
                    Charizard

                <audio controls="">
                    <source src="/public/cries/0006.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0006_mega x.png" class="cryImg">
                    Charizard-Mega X

                <audio controls="">
                    <source src="/public/cries/0006_mega x.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0006_mega y.png" class="cryImg">
                    Charizard-Mega Y

                <audio controls="">
                    <source src="/public/cries/0006_mega y.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0007.png" class="cryImg">
                    Squirtle

                <audio controls="">
                    <source src="/public/cries/0007.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0008.png" class="cryImg">
                    Wartortle

                <audio controls="">
                    <source src="/public/cries/0008.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0009.png" class="cryImg">
                    Blastoise

                <audio controls="">
                    <source src="/public/cries/0009.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0009_mega.png" class="cryImg">
                    Blastoise-Mega

                <audio controls="">
                    <source src="/public/cries/0009_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0010.png" class="cryImg">
                    Caterpie

                <audio controls="">
                    <source src="/public/cries/0010.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0011.png" class="cryImg">
                    Metapod

                <audio controls="">
                    <source src="/public/cries/0011.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0012.png" class="cryImg">
                    Butterfree

                <audio controls="">
                    <source src="/public/cries/0012.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0013.png" class="cryImg">
                    Weedle

                <audio controls="">
                    <source src="/public/cries/0013.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0014.png" class="cryImg">
                    Kakuna

                <audio controls="">
                    <source src="/public/cries/0014.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0015.png" class="cryImg">
                    Beedrill

                <audio controls="">
                    <source src="/public/cries/0015.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0015_mega.png" class="cryImg">
                    Beedrill-Mega

                <audio controls="">
                    <source src="/public/cries/0015_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0016.png" class="cryImg">
                    Pidgey

                <audio controls="">
                    <source src="/public/cries/0016.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0017.png" class="cryImg">
                    Pidgeotto

                <audio controls="">
                    <source src="/public/cries/0017.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0018.png" class="cryImg">
                    Pidgeot

                <audio controls="">
                    <source src="/public/cries/0018.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0018_mega.png" class="cryImg">
                    Pidgeot-Mega

                <audio controls="">
                    <source src="/public/cries/0018_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0019.png" class="cryImg">
                    Rattata

                    <img src="/public/images/0019_alola.png" class="cryImg">
                    Rattata-Alola

                <audio controls="">
                    <source src="/public/cries/0019.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0020.png" class="cryImg">
                    Raticate

                    <img src="/public/images/0020_alola.png" class="cryImg">
                    Raticate-Alola

                <audio controls="">
                    <source src="/public/cries/0020.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0021.png" class="cryImg">
                    Spearow

                <audio controls="">
                    <source src="/public/cries/0021.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0022.png" class="cryImg">
                    Fearow

                <audio controls="">
                    <source src="/public/cries/0022.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0023.png" class="cryImg">
                    Ekans

                <audio controls="">
                    <source src="/public/cries/0023.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0024.png" class="cryImg">
                    Arbok

                <audio controls="">
                    <source src="/public/cries/0024.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0025.png" class="cryImg">
                    Pikachu

                <audio controls="">
                    <source src="/public/cries/0025.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0026.png" class="cryImg">
                    Raichu

                    <img src="/public/images/0026_alola.png" class="cryImg">
                    Raichu-Alola

                <audio controls="">
                    <source src="/public/cries/0026.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0027.png" class="cryImg">
                    Sandshrew

                    <img src="/public/images/0027_alola.png" class="cryImg">
                    Sandshrew-Alola

                <audio controls="">
                    <source src="/public/cries/0027.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0028.png" class="cryImg">
                    Sandslash

                    <img src="/public/images/0028_alola.png" class="cryImg">
                    Sandslash-Alola

                <audio controls="">
                    <source src="/public/cries/0028.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0029.png" class="cryImg">
                    Nidoran♀

                <audio controls="">
                    <source src="/public/cries/0029.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0030.png" class="cryImg">
                    Nidorina

                <audio controls="">
                    <source src="/public/cries/0030.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0031.png" class="cryImg">
                    Nidoqueen

                <audio controls="">
                    <source src="/public/cries/0031.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0032.png" class="cryImg">
                    Nidoran♂

                <audio controls="">
                    <source src="/public/cries/0032.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0033.png" class="cryImg">
                    Nidorino

                <audio controls="">
                    <source src="/public/cries/0033.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0034.png" class="cryImg">
                    Nidoking

                <audio controls="">
                    <source src="/public/cries/0034.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0035.png" class="cryImg">
                    Clefairy

                <audio controls="">
                    <source src="/public/cries/0035.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0036.png" class="cryImg">
                    Clefable

                <audio controls="">
                    <source src="/public/cries/0036.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0037.png" class="cryImg">
                    Vulpix

                    <img src="/public/images/0037_alola.png" class="cryImg">
                    Vulpix-Alola

                <audio controls="">
                    <source src="/public/cries/0037.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0038.png" class="cryImg">
                    Ninetales

                    <img src="/public/images/0038_alola.png" class="cryImg">
                    Ninetales-Alola

                <audio controls="">
                    <source src="/public/cries/0038.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0039.png" class="cryImg">
                    Jigglypuff

                <audio controls="">
                    <source src="/public/cries/0039.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0040.png" class="cryImg">
                    Wigglytuff

                <audio controls="">
                    <source src="/public/cries/0040.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0041.png" class="cryImg">
                    Zubat

                <audio controls="">
                    <source src="/public/cries/0041.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0042.png" class="cryImg">
                    Golbat

                <audio controls="">
                    <source src="/public/cries/0042.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0043.png" class="cryImg">
                    Oddish

                <audio controls="">
                    <source src="/public/cries/0043.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0044.png" class="cryImg">
                    Gloom

                <audio controls="">
                    <source src="/public/cries/0044.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0045.png" class="cryImg">
                    Vileplume

                <audio controls="">
                    <source src="/public/cries/0045.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0046.png" class="cryImg">
                    Paras

                <audio controls="">
                    <source src="/public/cries/0046.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0047.png" class="cryImg">
                    Parasect

                <audio controls="">
                    <source src="/public/cries/0047.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0048.png" class="cryImg">
                    Venonat

                <audio controls="">
                    <source src="/public/cries/0048.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0049.png" class="cryImg">
                    Venomoth

                <audio controls="">
                    <source src="/public/cries/0049.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0050.png" class="cryImg">
                    Diglett

                    <img src="/public/images/0050_alola.png" class="cryImg">
                    Diglett-Alola

                <audio controls="">
                    <source src="/public/cries/0050.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0051.png" class="cryImg">
                    Dugtrio

                    <img src="/public/images/0051_alola.png" class="cryImg">
                    Dugtrio-Alola

                <audio controls="">
                    <source src="/public/cries/0051.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0052.png" class="cryImg">
                    Meowth

                    <img src="/public/images/0052_alola.png" class="cryImg">
                    Meowth-Alola

                    <img src="/public/images/0052_galar.png" class="cryImg">
                    Meowth-Galar

                <audio controls="">
                    <source src="/public/cries/0052.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0053.png" class="cryImg">
                    Persian

                    <img src="/public/images/0053_alola.png" class="cryImg">
                    Persian-Alola

                <audio controls="">
                    <source src="/public/cries/0053.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0054.png" class="cryImg">
                    Psyduck

                <audio controls="">
                    <source src="/public/cries/0054.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0055.png" class="cryImg">
                    Golduck

                <audio controls="">
                    <source src="/public/cries/0055.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0056.png" class="cryImg">
                    Mankey

                <audio controls="">
                    <source src="/public/cries/0056.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0057.png" class="cryImg">
                    Primeape

                <audio controls="">
                    <source src="/public/cries/0057.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0058.png" class="cryImg">
                    Growlithe

                    <img src="/public/images/0058_hisui.png" class="cryImg">
                    Growlithe-Hisui

                <audio controls="">
                    <source src="/public/cries/0058.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0059.png" class="cryImg">
                    Arcanine

                    <img src="/public/images/0059_hisui.png" class="cryImg">
                    Arcanine-Hisui

                <audio controls="">
                    <source src="/public/cries/0059.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0060.png" class="cryImg">
                    Poliwag

                <audio controls="">
                    <source src="/public/cries/0060.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0061.png" class="cryImg">
                    Poliwhirl

                <audio controls="">
                    <source src="/public/cries/0061.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0062.png" class="cryImg">
                    Poliwrath

                <audio controls="">
                    <source src="/public/cries/0062.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0063.png" class="cryImg">
                    Abra

                <audio controls="">
                    <source src="/public/cries/0063.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0064.png" class="cryImg">
                    Kadabra

                <audio controls="">
                    <source src="/public/cries/0064.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0065.png" class="cryImg">
                    Alakazam

                <audio controls="">
                    <source src="/public/cries/0065.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0065_mega.png" class="cryImg">
                    Alakazam-Mega

                <audio controls="">
                    <source src="/public/cries/0065_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0066.png" class="cryImg">
                    Machop

                <audio controls="">
                    <source src="/public/cries/0066.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0067.png" class="cryImg">
                    Machoke

                <audio controls="">
                    <source src="/public/cries/0067.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0068.png" class="cryImg">
                    Machamp

                <audio controls="">
                    <source src="/public/cries/0068.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0069.png" class="cryImg">
                    Bellsprout

                <audio controls="">
                    <source src="/public/cries/0069.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0070.png" class="cryImg">
                    Weepinbell

                <audio controls="">
                    <source src="/public/cries/0070.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0071.png" class="cryImg">
                    Victreebel

                <audio controls="">
                    <source src="/public/cries/0071.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0072.png" class="cryImg">
                    Tentacool

                <audio controls="">
                    <source src="/public/cries/0072.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0073.png" class="cryImg">
                    Tentacruel

                <audio controls="">
                    <source src="/public/cries/0073.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0074.png" class="cryImg">
                    Geodude

                    <img src="/public/images/0074_alola.png" class="cryImg">
                    Geodude-Alola

                <audio controls="">
                    <source src="/public/cries/0074.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0075.png" class="cryImg">
                    Graveler

                    <img src="/public/images/0075_alola.png" class="cryImg">
                    Graveler-Alola

                <audio controls="">
                    <source src="/public/cries/0075.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0076.png" class="cryImg">
                    Golem

                    <img src="/public/images/0076_alola.png" class="cryImg">
                    Golem-Alola

                <audio controls="">
                    <source src="/public/cries/0076.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0077.png" class="cryImg">
                    Ponyta

                    <img src="/public/images/0077_galar.png" class="cryImg">
                    Ponyta-Galar

                <audio controls="">
                    <source src="/public/cries/0077.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0078.png" class="cryImg">
                    Rapidash

                    <img src="/public/images/0078_galar.png" class="cryImg">
                    Rapidash-Galar

                <audio controls="">
                    <source src="/public/cries/0078.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0079.png" class="cryImg">
                    Slowpoke

                    <img src="/public/images/0079_galar.png" class="cryImg">
                    Slowpoke-Galar

                <audio controls="">
                    <source src="/public/cries/0079.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0080.png" class="cryImg">
                    Slowbro

                    <img src="/public/images/0080_galar.png" class="cryImg">
                    Slowbro-Galar

                <audio controls="">
                    <source src="/public/cries/0080.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0080_mega.png" class="cryImg">
                    Slowbro-Mega

                <audio controls="">
                    <source src="/public/cries/0080_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0081.png" class="cryImg">
                    Magnemite

                <audio controls="">
                    <source src="/public/cries/0081.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0082.png" class="cryImg">
                    Magneton

                <audio controls="">
                    <source src="/public/cries/0082.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0083.png" class="cryImg">
                    Farfetch'd

                    <img src="/public/images/0083_galar.png" class="cryImg">
                    Farfetch'd-Galar

                <audio controls="">
                    <source src="/public/cries/0083.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0084.png" class="cryImg">
                    Doduo

                <audio controls="">
                    <source src="/public/cries/0084.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0085.png" class="cryImg">
                    Dodrio

                <audio controls="">
                    <source src="/public/cries/0085.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0086.png" class="cryImg">
                    Seel

                <audio controls="">
                    <source src="/public/cries/0086.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0087.png" class="cryImg">
                    Dewgong

                <audio controls="">
                    <source src="/public/cries/0087.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0088.png" class="cryImg">
                    Grimer

                    <img src="/public/images/0088_alola.png" class="cryImg">
                    Grimer-Alola

                <audio controls="">
                    <source src="/public/cries/0088.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0089.png" class="cryImg">
                    Muk

                    <img src="/public/images/0089_alola.png" class="cryImg">
                    Muk-Alola

                <audio controls="">
                    <source src="/public/cries/0089.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0090.png" class="cryImg">
                    Shellder

                <audio controls="">
                    <source src="/public/cries/0090.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0091.png" class="cryImg">
                    Cloyster

                <audio controls="">
                    <source src="/public/cries/0091.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0092.png" class="cryImg">
                    Gastly

                <audio controls="">
                    <source src="/public/cries/0092.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0093.png" class="cryImg">
                    Haunter

                <audio controls="">
                    <source src="/public/cries/0093.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0094.png" class="cryImg">
                    Gengar

                <audio controls="">
                    <source src="/public/cries/0094.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0094_mega.png" class="cryImg">
                    Gengar-Mega

                <audio controls="">
                    <source src="/public/cries/0094_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0095.png" class="cryImg">
                    Onix

                <audio controls="">
                    <source src="/public/cries/0095.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0096.png" class="cryImg">
                    Drowzee

                <audio controls="">
                    <source src="/public/cries/0096.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0097.png" class="cryImg">
                    Hypno

                <audio controls="">
                    <source src="/public/cries/0097.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0098.png" class="cryImg">
                    Krabby

                <audio controls="">
                    <source src="/public/cries/0098.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0099.png" class="cryImg">
                    Kingler

                <audio controls="">
                    <source src="/public/cries/0099.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0100.png" class="cryImg">
                    Voltorb

                    <img src="/public/images/0100_hisui.png" class="cryImg">
                    Voltorb-Hisui

                <audio controls="">
                    <source src="/public/cries/0100.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0101.png" class="cryImg">
                    Electrode

                    <img src="/public/images/0101_hisui.png" class="cryImg">
                    Electrode-Hisui

                <audio controls="">
                    <source src="/public/cries/0101.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0102.png" class="cryImg">
                    Exeggcute

                <audio controls="">
                    <source src="/public/cries/0102.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0103.png" class="cryImg">
                    Exeggutor

                    <img src="/public/images/0103_alola.png" class="cryImg">
                    Exeggutor-Alola

                <audio controls="">
                    <source src="/public/cries/0103.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0104.png" class="cryImg">
                    Cubone

                <audio controls="">
                    <source src="/public/cries/0104.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0105.png" class="cryImg">
                    Marowak

                    <img src="/public/images/0105_alola.png" class="cryImg">
                    Marowak-Alola

                <audio controls="">
                    <source src="/public/cries/0105.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0106.png" class="cryImg">
                    Hitmonlee

                <audio controls="">
                    <source src="/public/cries/0106.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0107.png" class="cryImg">
                    Hitmonchan

                <audio controls="">
                    <source src="/public/cries/0107.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0108.png" class="cryImg">
                    Lickitung

                <audio controls="">
                    <source src="/public/cries/0108.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0109.png" class="cryImg">
                    Koffing

                <audio controls="">
                    <source src="/public/cries/0109.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0110.png" class="cryImg">
                    Weezing

                    <img src="/public/images/0110_galar.png" class="cryImg">
                    Weezing-Galar

                <audio controls="">
                    <source src="/public/cries/0110.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0111.png" class="cryImg">
                    Rhyhorn

                <audio controls="">
                    <source src="/public/cries/0111.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0112.png" class="cryImg">
                    Rhydon

                <audio controls="">
                    <source src="/public/cries/0112.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0113.png" class="cryImg">
                    Chansey

                <audio controls="">
                    <source src="/public/cries/0113.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0114.png" class="cryImg">
                    Tangela

                <audio controls="">
                    <source src="/public/cries/0114.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0115.png" class="cryImg">
                    Kangaskhan

                <audio controls="">
                    <source src="/public/cries/0115.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0115_mega.png" class="cryImg">
                    Kangaskhan-Mega

                <audio controls="">
                    <source src="/public/cries/0115_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0116.png" class="cryImg">
                    Horsea

                <audio controls="">
                    <source src="/public/cries/0116.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0117.png" class="cryImg">
                    Seadra

                <audio controls="">
                    <source src="/public/cries/0117.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0118.png" class="cryImg">
                    Goldeen

                <audio controls="">
                    <source src="/public/cries/0118.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0119.png" class="cryImg">
                    Seaking

                <audio controls="">
                    <source src="/public/cries/0119.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0120.png" class="cryImg">
                    Staryu

                <audio controls="">
                    <source src="/public/cries/0120.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0121.png" class="cryImg">
                    Starmie

                <audio controls="">
                    <source src="/public/cries/0121.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0122.png" class="cryImg">
                    Mr. Mime

                    <img src="/public/images/0122_galar.png" class="cryImg">
                    Mr. Mime-Galar

                <audio controls="">
                    <source src="/public/cries/0122.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0123.png" class="cryImg">
                    Scyther

                <audio controls="">
                    <source src="/public/cries/0123.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0124.png" class="cryImg">
                    Jynx

                <audio controls="">
                    <source src="/public/cries/0124.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0125.png" class="cryImg">
                    Electabuzz

                <audio controls="">
                    <source src="/public/cries/0125.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0126.png" class="cryImg">
                    Magmar

                <audio controls="">
                    <source src="/public/cries/0126.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0127.png" class="cryImg">
                    Pinsir

                <audio controls="">
                    <source src="/public/cries/0127.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0127_mega.png" class="cryImg">
                    Pinsir-Mega

                <audio controls="">
                    <source src="/public/cries/0127_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0128.png" class="cryImg">
                    Tauros

                <audio controls="">
                    <source src="/public/cries/0128.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0129.png" class="cryImg">
                    Magikarp

                <audio controls="">
                    <source src="/public/cries/0129.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0130.png" class="cryImg">
                    Gyarados

                <audio controls="">
                    <source src="/public/cries/0130.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0130_mega.png" class="cryImg">
                    Gyarados-Mega

                <audio controls="">
                    <source src="/public/cries/0130_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0131.png" class="cryImg">
                    Lapras

                <audio controls="">
                    <source src="/public/cries/0131.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0132.png" class="cryImg">
                    Ditto

                <audio controls="">
                    <source src="/public/cries/0132.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0133.png" class="cryImg">
                    Eevee

                <audio controls="">
                    <source src="/public/cries/0133.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0134.png" class="cryImg">
                    Vaporeon

                <audio controls="">
                    <source src="/public/cries/0134.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0135.png" class="cryImg">
                    Jolteon

                <audio controls="">
                    <source src="/public/cries/0135.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0136.png" class="cryImg">
                    Flareon

                <audio controls="">
                    <source src="/public/cries/0136.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0137.png" class="cryImg">
                    Porygon

                <audio controls="">
                    <source src="/public/cries/0137.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0138.png" class="cryImg">
                    Omanyte

                <audio controls="">
                    <source src="/public/cries/0138.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0139.png" class="cryImg">
                    Omastar

                <audio controls="">
                    <source src="/public/cries/0139.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0140.png" class="cryImg">
                    Kabuto

                <audio controls="">
                    <source src="/public/cries/0140.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0141.png" class="cryImg">
                    Kabutops

                <audio controls="">
                    <source src="/public/cries/0141.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0142.png" class="cryImg">
                    Aerodactyl

                <audio controls="">
                    <source src="/public/cries/0142.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0142_mega.png" class="cryImg">
                    Aerodactyl-Mega

                <audio controls="">
                    <source src="/public/cries/0142_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0143.png" class="cryImg">
                    Snorlax

                <audio controls="">
                    <source src="/public/cries/0143.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0144.png" class="cryImg">
                    Articuno

                    <img src="/public/images/0144_galar.png" class="cryImg">
                    Articuno-Galar

                <audio controls="">
                    <source src="/public/cries/0144.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0145.png" class="cryImg">
                    Zapdos

                    <img src="/public/images/0145_galar.png" class="cryImg">
                    Zapdos-Galar

                <audio controls="">
                    <source src="/public/cries/0145.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0146.png" class="cryImg">
                    Moltres

                    <img src="/public/images/0146_galar.png" class="cryImg">
                    Moltres-Galar

                <audio controls="">
                    <source src="/public/cries/0146.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0147.png" class="cryImg">
                    Dratini

                <audio controls="">
                    <source src="/public/cries/0147.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0148.png" class="cryImg">
                    Dragonair

                <audio controls="">
                    <source src="/public/cries/0148.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0149.png" class="cryImg">
                    Dragonite

                <audio controls="">
                    <source src="/public/cries/0149.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0150.png" class="cryImg">
                    Mewtwo

                <audio controls="">
                    <source src="/public/cries/0150.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0150_mega x.png" class="cryImg">
                    Mewtwo-Mega X

                <audio controls="">
                    <source src="/public/cries/0150_mega x.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0150_mega y.png" class="cryImg">
                    Mewtwo-Mega Y

                <audio controls="">
                    <source src="/public/cries/0150_mega y.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0151.png" class="cryImg">
                    Mew

                <audio controls="">
                    <source src="/public/cries/0151.mp3" type="audio/mpeg">
                </audio>
            </div></div>
    </main>
</section>
