<section>
    <h1>{{title}}</h1>
    <main>
        <p>A Repository containing all Pokémon cries - yes, even the alternate forms!</p>
        <p id="genIndicator">Generation 2</p>
        <div id="pkmnList"><div class="cryButton gen2">

                    <img src="/public/images/0152.png" class="cryImg">
                    Chikorita

                <audio controls="">
                    <source src="/public/cries/0152.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0153.png" class="cryImg">
                    Bayleef

                <audio controls="">
                    <source src="/public/cries/0153.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0154.png" class="cryImg">
                    Meganium

                <audio controls="">
                    <source src="/public/cries/0154.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0155.png" class="cryImg">
                    Cyndaquil

                <audio controls="">
                    <source src="/public/cries/0155.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0156.png" class="cryImg">
                    Quilava

                <audio controls="">
                    <source src="/public/cries/0156.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0157.png" class="cryImg">
                    Typhlosion

                    <img src="/public/images/0157_hisui.png" class="cryImg">
                    Typhlosion-Hisui

                <audio controls="">
                    <source src="/public/cries/0157.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0158.png" class="cryImg">
                    Totodile

                <audio controls="">
                    <source src="/public/cries/0158.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0159.png" class="cryImg">
                    Croconaw

                <audio controls="">
                    <source src="/public/cries/0159.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0160.png" class="cryImg">
                    Feraligatr

                <audio controls="">
                    <source src="/public/cries/0160.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0161.png" class="cryImg">
                    Sentret

                <audio controls="">
                    <source src="/public/cries/0161.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0162.png" class="cryImg">
                    Furret

                <audio controls="">
                    <source src="/public/cries/0162.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0163.png" class="cryImg">
                    Hoothoot

                <audio controls="">
                    <source src="/public/cries/0163.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0164.png" class="cryImg">
                    Noctowl

                <audio controls="">
                    <source src="/public/cries/0164.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0165.png" class="cryImg">
                    Ledyba

                <audio controls="">
                    <source src="/public/cries/0165.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0166.png" class="cryImg">
                    Ledian

                <audio controls="">
                    <source src="/public/cries/0166.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0167.png" class="cryImg">
                    Spinarak

                <audio controls="">
                    <source src="/public/cries/0167.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0168.png" class="cryImg">
                    Ariados

                <audio controls="">
                    <source src="/public/cries/0168.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0169.png" class="cryImg">
                    Crobat

                <audio controls="">
                    <source src="/public/cries/0169.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0170.png" class="cryImg">
                    Chinchou

                <audio controls="">
                    <source src="/public/cries/0170.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0171.png" class="cryImg">
                    Lanturn

                <audio controls="">
                    <source src="/public/cries/0171.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0172.png" class="cryImg">
                    Pichu

                <audio controls="">
                    <source src="/public/cries/0172.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0173.png" class="cryImg">
                    Cleffa

                <audio controls="">
                    <source src="/public/cries/0173.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0174.png" class="cryImg">
                    Igglybuff

                <audio controls="">
                    <source src="/public/cries/0174.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0175.png" class="cryImg">
                    Togepi

                <audio controls="">
                    <source src="/public/cries/0175.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0176.png" class="cryImg">
                    Togetic

                <audio controls="">
                    <source src="/public/cries/0176.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0177.png" class="cryImg">
                    Natu

                <audio controls="">
                    <source src="/public/cries/0177.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0178.png" class="cryImg">
                    Xatu

                <audio controls="">
                    <source src="/public/cries/0178.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0179.png" class="cryImg">
                    Mareep

                <audio controls="">
                    <source src="/public/cries/0179.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0180.png" class="cryImg">
                    Flaaffy

                <audio controls="">
                    <source src="/public/cries/0180.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0181.png" class="cryImg">
                    Ampharos

                <audio controls="">
                    <source src="/public/cries/0181.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0181_mega.png" class="cryImg">
                    Ampharos-Mega

                <audio controls="">
                    <source src="/public/cries/0181_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0182.png" class="cryImg">
                    Bellossom

                <audio controls="">
                    <source src="/public/cries/0182.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0183.png" class="cryImg">
                    Marill

                <audio controls="">
                    <source src="/public/cries/0183.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0184.png" class="cryImg">
                    Azumarill

                <audio controls="">
                    <source src="/public/cries/0184.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0185.png" class="cryImg">
                    Sudowoodo

                <audio controls="">
                    <source src="/public/cries/0185.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0186.png" class="cryImg">
                    Politoed

                <audio controls="">
                    <source src="/public/cries/0186.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0187.png" class="cryImg">
                    Hoppip

                <audio controls="">
                    <source src="/public/cries/0187.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0188.png" class="cryImg">
                    Skiploom

                <audio controls="">
                    <source src="/public/cries/0188.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0189.png" class="cryImg">
                    Jumpluff

                <audio controls="">
                    <source src="/public/cries/0189.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0190.png" class="cryImg">
                    Aipom

                <audio controls="">
                    <source src="/public/cries/0190.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0191.png" class="cryImg">
                    Sunkern

                <audio controls="">
                    <source src="/public/cries/0191.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0192.png" class="cryImg">
                    Sunflora

                <audio controls="">
                    <source src="/public/cries/0192.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0193.png" class="cryImg">
                    Yanma

                <audio controls="">
                    <source src="/public/cries/0193.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0194.png" class="cryImg">
                    Wooper

                <audio controls="">
                    <source src="/public/cries/0194.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0195.png" class="cryImg">
                    Quagsire

                <audio controls="">
                    <source src="/public/cries/0195.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0196.png" class="cryImg">
                    Espeon

                <audio controls="">
                    <source src="/public/cries/0196.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0197.png" class="cryImg">
                    Umbreon

                <audio controls="">
                    <source src="/public/cries/0197.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0198.png" class="cryImg">
                    Murkrow

                <audio controls="">
                    <source src="/public/cries/0198.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0199.png" class="cryImg">
                    Slowking

                    <img src="/public/images/0199_galar.png" class="cryImg">
                    Slowking-Galar

                <audio controls="">
                    <source src="/public/cries/0199.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0200.png" class="cryImg">
                    Misdreavus

                <audio controls="">
                    <source src="/public/cries/0200.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0201.png" class="cryImg">
                    Unown

                <audio controls="">
                    <source src="/public/cries/0201.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0202.png" class="cryImg">
                    Wobbuffet

                <audio controls="">
                    <source src="/public/cries/0202.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0203.png" class="cryImg">
                    Girafarig

                <audio controls="">
                    <source src="/public/cries/0203.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0204.png" class="cryImg">
                    Pineco

                <audio controls="">
                    <source src="/public/cries/0204.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0205.png" class="cryImg">
                    Forretress

                <audio controls="">
                    <source src="/public/cries/0205.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0206.png" class="cryImg">
                    Dunsparce

                <audio controls="">
                    <source src="/public/cries/0206.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0207.png" class="cryImg">
                    Gligar

                <audio controls="">
                    <source src="/public/cries/0207.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0208.png" class="cryImg">
                    Steelix

                <audio controls="">
                    <source src="/public/cries/0208.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0208_mega.png" class="cryImg">
                    Steelix-Mega

                <audio controls="">
                    <source src="/public/cries/0208_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0209.png" class="cryImg">
                    Snubbull

                <audio controls="">
                    <source src="/public/cries/0209.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0210.png" class="cryImg">
                    Granbull

                <audio controls="">
                    <source src="/public/cries/0210.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0211.png" class="cryImg">
                    Qwilfish

                    <img src="/public/images/0211_hisui.png" class="cryImg">
                    Qwilfish-Hisui

                <audio controls="">
                    <source src="/public/cries/0211.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0212.png" class="cryImg">
                    Scizor

                <audio controls="">
                    <source src="/public/cries/0212.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0212_mega.png" class="cryImg">
                    Scizor-Mega

                <audio controls="">
                    <source src="/public/cries/0212_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0213.png" class="cryImg">
                    Shuckle

                <audio controls="">
                    <source src="/public/cries/0213.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0214.png" class="cryImg">
                    Heracross

                <audio controls="">
                    <source src="/public/cries/0214.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0214_mega.png" class="cryImg">
                    Heracross-Mega

                <audio controls="">
                    <source src="/public/cries/0214_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0215.png" class="cryImg">
                    Sneasel

                    <img src="/public/images/0215_hisui.png" class="cryImg">
                    Sneasel-Hisui

                <audio controls="">
                    <source src="/public/cries/0215.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0216.png" class="cryImg">
                    Teddiursa

                <audio controls="">
                    <source src="/public/cries/0216.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0217.png" class="cryImg">
                    Ursaring

                <audio controls="">
                    <source src="/public/cries/0217.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0218.png" class="cryImg">
                    Slugma

                <audio controls="">
                    <source src="/public/cries/0218.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0219.png" class="cryImg">
                    Magcargo

                <audio controls="">
                    <source src="/public/cries/0219.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0220.png" class="cryImg">
                    Swinub

                <audio controls="">
                    <source src="/public/cries/0220.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0221.png" class="cryImg">
                    Piloswine

                <audio controls="">
                    <source src="/public/cries/0221.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0222.png" class="cryImg">
                    Corsola

                    <img src="/public/images/0222_galar.png" class="cryImg">
                    Corsola-Galar

                <audio controls="">
                    <source src="/public/cries/0222.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0223.png" class="cryImg">
                    Remoraid

                <audio controls="">
                    <source src="/public/cries/0223.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0224.png" class="cryImg">
                    Octillery

                <audio controls="">
                    <source src="/public/cries/0224.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0225.png" class="cryImg">
                    Delibird

                <audio controls="">
                    <source src="/public/cries/0225.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0226.png" class="cryImg">
                    Mantine

                <audio controls="">
                    <source src="/public/cries/0226.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0227.png" class="cryImg">
                    Skarmory

                <audio controls="">
                    <source src="/public/cries/0227.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0228.png" class="cryImg">
                    Houndour

                <audio controls="">
                    <source src="/public/cries/0228.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0229.png" class="cryImg">
                    Houndoom

                <audio controls="">
                    <source src="/public/cries/0229.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0229_mega.png" class="cryImg">
                    Houndoom-Mega

                <audio controls="">
                    <source src="/public/cries/0229_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0230.png" class="cryImg">
                    Kingdra

                <audio controls="">
                    <source src="/public/cries/0230.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0231.png" class="cryImg">
                    Phanpy

                <audio controls="">
                    <source src="/public/cries/0231.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0232.png" class="cryImg">
                    Donphan

                <audio controls="">
                    <source src="/public/cries/0232.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0233.png" class="cryImg">
                    Porygon2

                <audio controls="">
                    <source src="/public/cries/0233.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0234.png" class="cryImg">
                    Stantler

                <audio controls="">
                    <source src="/public/cries/0234.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0235.png" class="cryImg">
                    Smeargle

                <audio controls="">
                    <source src="/public/cries/0235.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0236.png" class="cryImg">
                    Tyrogue

                <audio controls="">
                    <source src="/public/cries/0236.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0237.png" class="cryImg">
                    Hitmontop

                <audio controls="">
                    <source src="/public/cries/0237.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0238.png" class="cryImg">
                    Smoochum

                <audio controls="">
                    <source src="/public/cries/0238.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0239.png" class="cryImg">
                    Elekid

                <audio controls="">
                    <source src="/public/cries/0239.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0240.png" class="cryImg">
                    Magby

                <audio controls="">
                    <source src="/public/cries/0240.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0241.png" class="cryImg">
                    Miltank

                <audio controls="">
                    <source src="/public/cries/0241.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0242.png" class="cryImg">
                    Blissey

                <audio controls="">
                    <source src="/public/cries/0242.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0243.png" class="cryImg">
                    Raikou

                <audio controls="">
                    <source src="/public/cries/0243.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0244.png" class="cryImg">
                    Entei

                <audio controls="">
                    <source src="/public/cries/0244.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0245.png" class="cryImg">
                    Suicune

                <audio controls="">
                    <source src="/public/cries/0245.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0246.png" class="cryImg">
                    Larvitar

                <audio controls="">
                    <source src="/public/cries/0246.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0247.png" class="cryImg">
                    Pupitar

                <audio controls="">
                    <source src="/public/cries/0247.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0248.png" class="cryImg">
                    Tyranitar

                <audio controls="">
                    <source src="/public/cries/0248.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0248_mega.png" class="cryImg">
                    Tyranitar-Mega

                <audio controls="">
                    <source src="/public/cries/0248_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0249.png" class="cryImg">
                    Lugia

                <audio controls="">
                    <source src="/public/cries/0249.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0250.png" class="cryImg">
                    Ho-Oh

                <audio controls="">
                    <source src="/public/cries/0250.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen2">

                    <img src="/public/images/0251.png" class="cryImg">
                    Celebi

                <audio controls="">
                    <source src="/public/cries/0251.mp3" type="audio/mpeg">
                </audio>
            </div></div>
    </main>
</section>
