<section>
    <h1>{{title}}</h1>
    <main>
        <p>A Repository containing all Pokémon cries - yes, even the alternate forms!</p>
        <p id="genIndicator">Generation 3</p>
        <div id="pkmnList"><div class="cryButton">

                    <img src="/public/images/0252.png" class="cryImg">
                    Treecko

                <audio controls="">
                    <source src="/public/cries/0252.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0253.png" class="cryImg">
                    Grovyle

                <audio controls="">
                    <source src="/public/cries/0253.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0254.png" class="cryImg">
                    Sceptile

                <audio controls="">
                    <source src="/public/cries/0254.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0254_mega.png" class="cryImg">
                    Sceptile-Mega

                <audio controls="">
                    <source src="/public/cries/0254_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0255.png" class="cryImg">
                    Torchic

                <audio controls="">
                    <source src="/public/cries/0255.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0256.png" class="cryImg">
                    Combusken

                <audio controls="">
                    <source src="/public/cries/0256.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0257.png" class="cryImg">
                    Blaziken

                <audio controls="">
                    <source src="/public/cries/0257.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0257_mega.png" class="cryImg">
                    Blaziken-Mega

                <audio controls="">
                    <source src="/public/cries/0257_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0258.png" class="cryImg">
                    Mudkip

                <audio controls="">
                    <source src="/public/cries/0258.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0259.png" class="cryImg">
                    Marshtomp

                <audio controls="">
                    <source src="/public/cries/0259.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0260.png" class="cryImg">
                    Swampert

                <audio controls="">
                    <source src="/public/cries/0260.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0260_mega.png" class="cryImg">
                    Swampert-Mega

                <audio controls="">
                    <source src="/public/cries/0260_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0261.png" class="cryImg">
                    Poochyena

                <audio controls="">
                    <source src="/public/cries/0261.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0262.png" class="cryImg">
                    Mightyena

                <audio controls="">
                    <source src="/public/cries/0262.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0263.png" class="cryImg">
                    Zigzagoon

                    <img src="/public/images/0263_galar.png" class="cryImg">
                    Zigzagoon-Galar

                <audio controls="">
                    <source src="/public/cries/0263.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0264.png" class="cryImg">
                    Linoone

                    <img src="/public/images/0264_galar.png" class="cryImg">
                    Linoone-Galar

                <audio controls="">
                    <source src="/public/cries/0264.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0265.png" class="cryImg">
                    Wurmple

                <audio controls="">
                    <source src="/public/cries/0265.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0266.png" class="cryImg">
                    Silcoon

                <audio controls="">
                    <source src="/public/cries/0266.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0267.png" class="cryImg">
                    Beautifly

                <audio controls="">
                    <source src="/public/cries/0267.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0268.png" class="cryImg">
                    Cascoon

                <audio controls="">
                    <source src="/public/cries/0268.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0269.png" class="cryImg">
                    Dustox

                <audio controls="">
                    <source src="/public/cries/0269.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0270.png" class="cryImg">
                    Lotad

                <audio controls="">
                    <source src="/public/cries/0270.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0271.png" class="cryImg">
                    Lombre

                <audio controls="">
                    <source src="/public/cries/0271.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0272.png" class="cryImg">
                    Ludicolo

                <audio controls="">
                    <source src="/public/cries/0272.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0273.png" class="cryImg">
                    Seedot

                <audio controls="">
                    <source src="/public/cries/0273.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0274.png" class="cryImg">
                    Nuzleaf

                <audio controls="">
                    <source src="/public/cries/0274.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0275.png" class="cryImg">
                    Shiftry

                <audio controls="">
                    <source src="/public/cries/0275.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0276.png" class="cryImg">
                    Taillow

                <audio controls="">
                    <source src="/public/cries/0276.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0277.png" class="cryImg">
                    Swellow

                <audio controls="">
                    <source src="/public/cries/0277.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0278.png" class="cryImg">
                    Wingull

                <audio controls="">
                    <source src="/public/cries/0278.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0279.png" class="cryImg">
                    Pelipper

                <audio controls="">
                    <source src="/public/cries/0279.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0280.png" class="cryImg">
                    Ralts

                <audio controls="">
                    <source src="/public/cries/0280.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0281.png" class="cryImg">
                    Kirlia

                <audio controls="">
                    <source src="/public/cries/0281.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0282.png" class="cryImg">
                    Gardevoir

                <audio controls="">
                    <source src="/public/cries/0282.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0282_mega.png" class="cryImg">
                    Gardevoir-Mega

                <audio controls="">
                    <source src="/public/cries/0282_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0283.png" class="cryImg">
                    Surskit

                <audio controls="">
                    <source src="/public/cries/0283.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0284.png" class="cryImg">
                    Masquerain

                <audio controls="">
                    <source src="/public/cries/0284.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0285.png" class="cryImg">
                    Shroomish

                <audio controls="">
                    <source src="/public/cries/0285.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0286.png" class="cryImg">
                    Breloom

                <audio controls="">
                    <source src="/public/cries/0286.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0287.png" class="cryImg">
                    Slakoth

                <audio controls="">
                    <source src="/public/cries/0287.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0288.png" class="cryImg">
                    Vigoroth

                <audio controls="">
                    <source src="/public/cries/0288.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0289.png" class="cryImg">
                    Slaking

                <audio controls="">
                    <source src="/public/cries/0289.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0290.png" class="cryImg">
                    Nincada

                <audio controls="">
                    <source src="/public/cries/0290.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0291.png" class="cryImg">
                    Ninjask

                <audio controls="">
                    <source src="/public/cries/0291.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0292.png" class="cryImg">
                    Shedinja

                <audio controls="">
                    <source src="/public/cries/0292.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0293.png" class="cryImg">
                    Whismur

                <audio controls="">
                    <source src="/public/cries/0293.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0294.png" class="cryImg">
                    Loudred

                <audio controls="">
                    <source src="/public/cries/0294.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0295.png" class="cryImg">
                    Exploud

                <audio controls="">
                    <source src="/public/cries/0295.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0296.png" class="cryImg">
                    Makuhita

                <audio controls="">
                    <source src="/public/cries/0296.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0297.png" class="cryImg">
                    Hariyama

                <audio controls="">
                    <source src="/public/cries/0297.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0298.png" class="cryImg">
                    Azurill

                <audio controls="">
                    <source src="/public/cries/0298.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0299.png" class="cryImg">
                    Nosepass

                <audio controls="">
                    <source src="/public/cries/0299.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0300.png" class="cryImg">
                    Skitty

                <audio controls="">
                    <source src="/public/cries/0300.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0301.png" class="cryImg">
                    Delcatty

                <audio controls="">
                    <source src="/public/cries/0301.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0302.png" class="cryImg">
                    Sableye

                <audio controls="">
                    <source src="/public/cries/0302.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0302_mega.png" class="cryImg">
                    Sableye-Mega

                <audio controls="">
                    <source src="/public/cries/0302_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0303.png" class="cryImg">
                    Mawile

                <audio controls="">
                    <source src="/public/cries/0303.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0303_mega.png" class="cryImg">
                    Mawile-Mega

                <audio controls="">
                    <source src="/public/cries/0303_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0304.png" class="cryImg">
                    Aron

                <audio controls="">
                    <source src="/public/cries/0304.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0305.png" class="cryImg">
                    Lairon

                <audio controls="">
                    <source src="/public/cries/0305.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0306.png" class="cryImg">
                    Aggron

                <audio controls="">
                    <source src="/public/cries/0306.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0306_mega.png" class="cryImg">
                    Aggron-Mega

                <audio controls="">
                    <source src="/public/cries/0306_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0307.png" class="cryImg">
                    Meditite

                <audio controls="">
                    <source src="/public/cries/0307.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0308.png" class="cryImg">
                    Medicham

                <audio controls="">
                    <source src="/public/cries/0308.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0308_mega.png" class="cryImg">
                    Medicham-Mega

                <audio controls="">
                    <source src="/public/cries/0308_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0309.png" class="cryImg">
                    Electrike

                <audio controls="">
                    <source src="/public/cries/0309.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0310.png" class="cryImg">
                    Manectric

                <audio controls="">
                    <source src="/public/cries/0310.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0310_mega.png" class="cryImg">
                    Manectric-Mega

                <audio controls="">
                    <source src="/public/cries/0310_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0311.png" class="cryImg">
                    Plusle

                <audio controls="">
                    <source src="/public/cries/0311.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0312.png" class="cryImg">
                    Minun

                <audio controls="">
                    <source src="/public/cries/0312.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0313.png" class="cryImg">
                    Volbeat

                <audio controls="">
                    <source src="/public/cries/0313.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0314.png" class="cryImg">
                    Illumise

                <audio controls="">
                    <source src="/public/cries/0314.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0315.png" class="cryImg">
                    Roselia

                <audio controls="">
                    <source src="/public/cries/0315.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0316.png" class="cryImg">
                    Gulpin

                <audio controls="">
                    <source src="/public/cries/0316.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0317.png" class="cryImg">
                    Swalot

                <audio controls="">
                    <source src="/public/cries/0317.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0318.png" class="cryImg">
                    Carvanha

                <audio controls="">
                    <source src="/public/cries/0318.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0319.png" class="cryImg">
                    Sharpedo

                <audio controls="">
                    <source src="/public/cries/0319.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0319_mega.png" class="cryImg">
                    Sharpedo-Mega

                <audio controls="">
                    <source src="/public/cries/0319_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0320.png" class="cryImg">
                    Wailmer

                <audio controls="">
                    <source src="/public/cries/0320.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0321.png" class="cryImg">
                    Wailord

                <audio controls="">
                    <source src="/public/cries/0321.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0322.png" class="cryImg">
                    Numel

                <audio controls="">
                    <source src="/public/cries/0322.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0323.png" class="cryImg">
                    Camerupt

                <audio controls="">
                    <source src="/public/cries/0323.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0323_mega.png" class="cryImg">
                    Camerupt-Mega

                <audio controls="">
                    <source src="/public/cries/0323_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0324.png" class="cryImg">
                    Torkoal

                <audio controls="">
                    <source src="/public/cries/0324.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0325.png" class="cryImg">
                    Spoink

                <audio controls="">
                    <source src="/public/cries/0325.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0326.png" class="cryImg">
                    Grumpig

                <audio controls="">
                    <source src="/public/cries/0326.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0327.png" class="cryImg">
                    Spinda

                <audio controls="">
                    <source src="/public/cries/0327.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0328.png" class="cryImg">
                    Trapinch

                <audio controls="">
                    <source src="/public/cries/0328.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0329.png" class="cryImg">
                    Vibrava

                <audio controls="">
                    <source src="/public/cries/0329.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0330.png" class="cryImg">
                    Flygon

                <audio controls="">
                    <source src="/public/cries/0330.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0331.png" class="cryImg">
                    Cacnea

                <audio controls="">
                    <source src="/public/cries/0331.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0332.png" class="cryImg">
                    Cacturne

                <audio controls="">
                    <source src="/public/cries/0332.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0333.png" class="cryImg">
                    Swablu

                <audio controls="">
                    <source src="/public/cries/0333.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0334.png" class="cryImg">
                    Altaria

                <audio controls="">
                    <source src="/public/cries/0334.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0334_mega.png" class="cryImg">
                    Altaria-Mega

                <audio controls="">
                    <source src="/public/cries/0334_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0335.png" class="cryImg">
                    Zangoose

                <audio controls="">
                    <source src="/public/cries/0335.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0336.png" class="cryImg">
                    Seviper

                <audio controls="">
                    <source src="/public/cries/0336.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0337.png" class="cryImg">
                    Lunatone

                <audio controls="">
                    <source src="/public/cries/0337.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0338.png" class="cryImg">
                    Solrock

                <audio controls="">
                    <source src="/public/cries/0338.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0339.png" class="cryImg">
                    Barboach

                <audio controls="">
                    <source src="/public/cries/0339.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0340.png" class="cryImg">
                    Whiscash

                <audio controls="">
                    <source src="/public/cries/0340.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0341.png" class="cryImg">
                    Corphish

                <audio controls="">
                    <source src="/public/cries/0341.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0342.png" class="cryImg">
                    Crawdaunt

                <audio controls="">
                    <source src="/public/cries/0342.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0343.png" class="cryImg">
                    Baltoy

                <audio controls="">
                    <source src="/public/cries/0343.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0344.png" class="cryImg">
                    Claydol

                <audio controls="">
                    <source src="/public/cries/0344.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0345.png" class="cryImg">
                    Lileep

                <audio controls="">
                    <source src="/public/cries/0345.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0346.png" class="cryImg">
                    Cradily

                <audio controls="">
                    <source src="/public/cries/0346.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0347.png" class="cryImg">
                    Anorith

                <audio controls="">
                    <source src="/public/cries/0347.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0348.png" class="cryImg">
                    Armaldo

                <audio controls="">
                    <source src="/public/cries/0348.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0349.png" class="cryImg">
                    Feebas

                <audio controls="">
                    <source src="/public/cries/0349.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0350.png" class="cryImg">
                    Milotic

                <audio controls="">
                    <source src="/public/cries/0350.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0351.png" class="cryImg">
                    Castform

                    <img src="/public/images/0351_sunny.png" class="cryImg">
                    Castform-Sunny

                    <img src="/public/images/0351_rainy.png" class="cryImg">
                    Castform-Rainy

                    <img src="/public/images/0351_snowy.png" class="cryImg">
                    Castform-Snowy

                <audio controls="">
                    <source src="/public/cries/0351.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0352.png" class="cryImg">
                    Kecleon

                <audio controls="">
                    <source src="/public/cries/0352.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0353.png" class="cryImg">
                    Shuppet

                <audio controls="">
                    <source src="/public/cries/0353.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0354.png" class="cryImg">
                    Banette

                <audio controls="">
                    <source src="/public/cries/0354.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0354_mega.png" class="cryImg">
                    Banette-Mega

                <audio controls="">
                    <source src="/public/cries/0354_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0355.png" class="cryImg">
                    Duskull

                <audio controls="">
                    <source src="/public/cries/0355.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0356.png" class="cryImg">
                    Dusclops

                <audio controls="">
                    <source src="/public/cries/0356.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0357.png" class="cryImg">
                    Tropius

                <audio controls="">
                    <source src="/public/cries/0357.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0358.png" class="cryImg">
                    Chimecho

                <audio controls="">
                    <source src="/public/cries/0358.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0359.png" class="cryImg">
                    Absol

                <audio controls="">
                    <source src="/public/cries/0359.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0359_mega.png" class="cryImg">
                    Absol-Mega

                <audio controls="">
                    <source src="/public/cries/0359_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0360.png" class="cryImg">
                    Wynaut

                <audio controls="">
                    <source src="/public/cries/0360.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0361.png" class="cryImg">
                    Snorunt

                <audio controls="">
                    <source src="/public/cries/0361.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0362.png" class="cryImg">
                    Glalie

                <audio controls="">
                    <source src="/public/cries/0362.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0362_mega.png" class="cryImg">
                    Glalie-Mega

                <audio controls="">
                    <source src="/public/cries/0362_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0363.png" class="cryImg">
                    Spheal

                <audio controls="">
                    <source src="/public/cries/0363.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0364.png" class="cryImg">
                    Sealeo

                <audio controls="">
                    <source src="/public/cries/0364.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0365.png" class="cryImg">
                    Walrein

                <audio controls="">
                    <source src="/public/cries/0365.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0366.png" class="cryImg">
                    Clamperl

                <audio controls="">
                    <source src="/public/cries/0366.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0367.png" class="cryImg">
                    Huntail

                <audio controls="">
                    <source src="/public/cries/0367.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0368.png" class="cryImg">
                    Gorebyss

                <audio controls="">
                    <source src="/public/cries/0368.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0369.png" class="cryImg">
                    Relicanth

                <audio controls="">
                    <source src="/public/cries/0369.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0370.png" class="cryImg">
                    Luvdisc

                <audio controls="">
                    <source src="/public/cries/0370.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0371.png" class="cryImg">
                    Bagon

                <audio controls="">
                    <source src="/public/cries/0371.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0372.png" class="cryImg">
                    Shelgon

                <audio controls="">
                    <source src="/public/cries/0372.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0373.png" class="cryImg">
                    Salamence

                <audio controls="">
                    <source src="/public/cries/0373.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0373_mega.png" class="cryImg">
                    Salamence-Mega

                <audio controls="">
                    <source src="/public/cries/0373_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0374.png" class="cryImg">
                    Beldum

                <audio controls="">
                    <source src="/public/cries/0374.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0375.png" class="cryImg">
                    Metang

                <audio controls="">
                    <source src="/public/cries/0375.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0376.png" class="cryImg">
                    Metagross

                <audio controls="">
                    <source src="/public/cries/0376.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0376_mega.png" class="cryImg">
                    Metagross-Mega

                <audio controls="">
                    <source src="/public/cries/0376_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0377.png" class="cryImg">
                    Regirock

                <audio controls="">
                    <source src="/public/cries/0377.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0378.png" class="cryImg">
                    Regice

                <audio controls="">
                    <source src="/public/cries/0378.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0379.png" class="cryImg">
                    Registeel

                <audio controls="">
                    <source src="/public/cries/0379.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0380.png" class="cryImg">
                    Latias

                <audio controls="">
                    <source src="/public/cries/0380.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0380_mega.png" class="cryImg">
                    Latias-Mega

                <audio controls="">
                    <source src="/public/cries/0380_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0381.png" class="cryImg">
                    Latios

                <audio controls="">
                    <source src="/public/cries/0381.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0381_mega.png" class="cryImg">
                    Latios-Mega

                <audio controls="">
                    <source src="/public/cries/0381_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0382.png" class="cryImg">
                    Kyogre

                <audio controls="">
                    <source src="/public/cries/0382.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0382_primal.png" class="cryImg">
                    Kyogre-Primal

                <audio controls="">
                    <source src="/public/cries/0382_primal.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0383.png" class="cryImg">
                    Groudon

                <audio controls="">
                    <source src="/public/cries/0383.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0383_primal.png" class="cryImg">
                    Groudon-Primal

                <audio controls="">
                    <source src="/public/cries/0383_primal.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0384.png" class="cryImg">
                    Rayquaza

                <audio controls="">
                    <source src="/public/cries/0384.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0384_mega.png" class="cryImg">
                    Rayquaza-Mega

                <audio controls="">
                    <source src="/public/cries/0384_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0385.png" class="cryImg">
                    Jirachi

                <audio controls="">
                    <source src="/public/cries/0385.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0386.png" class="cryImg">
                    Deoxys

                    <img src="/public/images/0386_attack.png" class="cryImg">
                    Deoxys-Attack

                    <img src="/public/images/0386_defense.png" class="cryImg">
                    Deoxys-Defense

                    <img src="/public/images/0386_speed.png" class="cryImg">
                    Deoxys-Speed

                <audio controls="">
                    <source src="/public/cries/0386.mp3" type="audio/mpeg">
                </audio>
            </div></div>
    </main>
</section>
