<section>
    <h1>{{title}}</h1>
    <main>
        <p>A Repository containing all Pokémon cries - yes, even the alternate forms!</p>
        <p id="genIndicator">Generation 4</p>
        <div id="pkmnList"><div class="cryButton gen4">

                    <img src="/public/images/0387.png" class="cryImg">
                    Turtwig

                <audio controls="">
                    <source src="/public/cries/0387.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0388.png" class="cryImg">
                    Grotle

                <audio controls="">
                    <source src="/public/cries/0388.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0389.png" class="cryImg">
                    Torterra

                <audio controls="">
                    <source src="/public/cries/0389.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0390.png" class="cryImg">
                    Chimchar

                <audio controls="">
                    <source src="/public/cries/0390.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0391.png" class="cryImg">
                    Monferno

                <audio controls="">
                    <source src="/public/cries/0391.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0392.png" class="cryImg">
                    Infernape

                <audio controls="">
                    <source src="/public/cries/0392.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0393.png" class="cryImg">
                    Piplup

                <audio controls="">
                    <source src="/public/cries/0393.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0394.png" class="cryImg">
                    Prinplup

                <audio controls="">
                    <source src="/public/cries/0394.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0395.png" class="cryImg">
                    Empoleon

                <audio controls="">
                    <source src="/public/cries/0395.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0396.png" class="cryImg">
                    Starly

                <audio controls="">
                    <source src="/public/cries/0396.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0397.png" class="cryImg">
                    Staravia

                <audio controls="">
                    <source src="/public/cries/0397.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0398.png" class="cryImg">
                    Staraptor

                <audio controls="">
                    <source src="/public/cries/0398.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0399.png" class="cryImg">
                    Bidoof

                <audio controls="">
                    <source src="/public/cries/0399.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0400.png" class="cryImg">
                    Bibarel

                <audio controls="">
                    <source src="/public/cries/0400.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0401.png" class="cryImg">
                    Kricketot

                <audio controls="">
                    <source src="/public/cries/0401.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0402.png" class="cryImg">
                    Kricketune

                <audio controls="">
                    <source src="/public/cries/0402.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0403.png" class="cryImg">
                    Shinx

                <audio controls="">
                    <source src="/public/cries/0403.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0404.png" class="cryImg">
                    Luxio

                <audio controls="">
                    <source src="/public/cries/0404.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0405.png" class="cryImg">
                    Luxray

                <audio controls="">
                    <source src="/public/cries/0405.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0406.png" class="cryImg">
                    Budew

                <audio controls="">
                    <source src="/public/cries/0406.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0407.png" class="cryImg">
                    Roserade

                <audio controls="">
                    <source src="/public/cries/0407.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0408.png" class="cryImg">
                    Cranidos

                <audio controls="">
                    <source src="/public/cries/0408.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0409.png" class="cryImg">
                    Rampardos

                <audio controls="">
                    <source src="/public/cries/0409.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0410.png" class="cryImg">
                    Shieldon

                <audio controls="">
                    <source src="/public/cries/0410.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0411.png" class="cryImg">
                    Bastiodon

                <audio controls="">
                    <source src="/public/cries/0411.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0412_plant.png" class="cryImg">
                    Burmy-Plant

                    <img src="/public/images/0412_sandy.png" class="cryImg">
                    Burmy-Sandy

                    <img src="/public/images/0412_trash.png" class="cryImg">
                    Burmy-Trash

                <audio controls="">
                    <source src="/public/cries/0412.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0413_plant.png" class="cryImg">
                    Wormadam-Plant

                    <img src="/public/images/0413_sandy.png" class="cryImg">
                    Wormadam-Sandy

                    <img src="/public/images/0413_trash.png" class="cryImg">
                    Wormadam-Trash

                <audio controls="">
                    <source src="/public/cries/0413.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0414.png" class="cryImg">
                    Mothim

                <audio controls="">
                    <source src="/public/cries/0414.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0415.png" class="cryImg">
                    Combee

                <audio controls="">
                    <source src="/public/cries/0415.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0416.png" class="cryImg">
                    Vespiquen

                <audio controls="">
                    <source src="/public/cries/0416.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0417.png" class="cryImg">
                    Pachirisu

                <audio controls="">
                    <source src="/public/cries/0417.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0418.png" class="cryImg">
                    Buizel

                <audio controls="">
                    <source src="/public/cries/0418.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0419.png" class="cryImg">
                    Floatzel

                <audio controls="">
                    <source src="/public/cries/0419.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0420.png" class="cryImg">
                    Cherubi

                <audio controls="">
                    <source src="/public/cries/0420.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0421_overcast.png" class="cryImg">
                    Cherrim-Overcast

                    <img src="/public/images/0421_sunny.png" class="cryImg">
                    Cherrim-Sunny

                <audio controls="">
                    <source src="/public/cries/0421.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0422_west sea.png" class="cryImg">
                    Shellos-West Sea

                    <img src="/public/images/0422_east sea.png" class="cryImg">
                    Shellos-East Sea

                <audio controls="">
                    <source src="/public/cries/0422.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0423_west sea.png" class="cryImg">
                    Gastrodon-West Sea

                    <img src="/public/images/0423_east sea.png" class="cryImg">
                    Gastrodon-East Sea

                <audio controls="">
                    <source src="/public/cries/0423.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0424.png" class="cryImg">
                    Ambipom

                <audio controls="">
                    <source src="/public/cries/0424.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0425.png" class="cryImg">
                    Drifloon

                <audio controls="">
                    <source src="/public/cries/0425.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0426.png" class="cryImg">
                    Drifblim

                <audio controls="">
                    <source src="/public/cries/0426.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0427.png" class="cryImg">
                    Buneary

                <audio controls="">
                    <source src="/public/cries/0427.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0428.png" class="cryImg">
                    Lopunny

                <audio controls="">
                    <source src="/public/cries/0428.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0428_mega.png" class="cryImg">
                    Lopunny-Mega

                <audio controls="">
                    <source src="/public/cries/0428_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0429.png" class="cryImg">
                    Mismagius

                <audio controls="">
                    <source src="/public/cries/0429.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0430.png" class="cryImg">
                    Honchkrow

                <audio controls="">
                    <source src="/public/cries/0430.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0431.png" class="cryImg">
                    Glameow

                <audio controls="">
                    <source src="/public/cries/0431.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0432.png" class="cryImg">
                    Purugly

                <audio controls="">
                    <source src="/public/cries/0432.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0433.png" class="cryImg">
                    Chingling

                <audio controls="">
                    <source src="/public/cries/0433.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0434.png" class="cryImg">
                    Stunky

                <audio controls="">
                    <source src="/public/cries/0434.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0435.png" class="cryImg">
                    Skuntank

                <audio controls="">
                    <source src="/public/cries/0435.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0436.png" class="cryImg">
                    Bronzor

                <audio controls="">
                    <source src="/public/cries/0436.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0437.png" class="cryImg">
                    Bronzong

                <audio controls="">
                    <source src="/public/cries/0437.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0438.png" class="cryImg">
                    Bonsly

                <audio controls="">
                    <source src="/public/cries/0438.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0439.png" class="cryImg">
                    Mime Jr.

                <audio controls="">
                    <source src="/public/cries/0439.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0440.png" class="cryImg">
                    Happiny

                <audio controls="">
                    <source src="/public/cries/0440.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0441.png" class="cryImg">
                    Chatot

                <audio controls="">
                    <source src="/public/cries/0441.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0442.png" class="cryImg">
                    Spiritomb

                <audio controls="">
                    <source src="/public/cries/0442.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0443.png" class="cryImg">
                    Gible

                <audio controls="">
                    <source src="/public/cries/0443.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0444.png" class="cryImg">
                    Gabite

                <audio controls="">
                    <source src="/public/cries/0444.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0445.png" class="cryImg">
                    Garchomp

                <audio controls="">
                    <source src="/public/cries/0445.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0445_mega.png" class="cryImg">
                    Garchomp-Mega

                <audio controls="">
                    <source src="/public/cries/0445_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0446.png" class="cryImg">
                    Munchlax

                <audio controls="">
                    <source src="/public/cries/0446.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0447.png" class="cryImg">
                    Riolu

                <audio controls="">
                    <source src="/public/cries/0447.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0448.png" class="cryImg">
                    Lucario

                <audio controls="">
                    <source src="/public/cries/0448.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0448_mega.png" class="cryImg">
                    Lucario-Mega

                <audio controls="">
                    <source src="/public/cries/0448_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0449.png" class="cryImg">
                    Hippopotas

                <audio controls="">
                    <source src="/public/cries/0449.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0450.png" class="cryImg">
                    Hippowdon

                <audio controls="">
                    <source src="/public/cries/0450.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0451.png" class="cryImg">
                    Skorupi

                <audio controls="">
                    <source src="/public/cries/0451.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0452.png" class="cryImg">
                    Drapion

                <audio controls="">
                    <source src="/public/cries/0452.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0453.png" class="cryImg">
                    Croagunk

                <audio controls="">
                    <source src="/public/cries/0453.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0454.png" class="cryImg">
                    Toxicroak

                <audio controls="">
                    <source src="/public/cries/0454.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0455.png" class="cryImg">
                    Carnivine

                <audio controls="">
                    <source src="/public/cries/0455.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0456.png" class="cryImg">
                    Finneon

                <audio controls="">
                    <source src="/public/cries/0456.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0457.png" class="cryImg">
                    Lumineon

                <audio controls="">
                    <source src="/public/cries/0457.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0458.png" class="cryImg">
                    Mantyke

                <audio controls="">
                    <source src="/public/cries/0458.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0459.png" class="cryImg">
                    Snover

                <audio controls="">
                    <source src="/public/cries/0459.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0460.png" class="cryImg">
                    Abomasnow

                <audio controls="">
                    <source src="/public/cries/0460.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0460_mega.png" class="cryImg">
                    Abomasnow-Mega

                <audio controls="">
                    <source src="/public/cries/0460_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0461.png" class="cryImg">
                    Weavile

                <audio controls="">
                    <source src="/public/cries/0461.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0462.png" class="cryImg">
                    Magnezone

                <audio controls="">
                    <source src="/public/cries/0462.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0463.png" class="cryImg">
                    Lickilicky

                <audio controls="">
                    <source src="/public/cries/0463.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0464.png" class="cryImg">
                    Rhyperior

                <audio controls="">
                    <source src="/public/cries/0464.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0465.png" class="cryImg">
                    Tangrowth

                <audio controls="">
                    <source src="/public/cries/0465.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0466.png" class="cryImg">
                    Electivire

                <audio controls="">
                    <source src="/public/cries/0466.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0467.png" class="cryImg">
                    Magmortar

                <audio controls="">
                    <source src="/public/cries/0467.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0468.png" class="cryImg">
                    Togekiss

                <audio controls="">
                    <source src="/public/cries/0468.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0469.png" class="cryImg">
                    Yanmega

                <audio controls="">
                    <source src="/public/cries/0469.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0470.png" class="cryImg">
                    Leafeon

                <audio controls="">
                    <source src="/public/cries/0470.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0471.png" class="cryImg">
                    Glaceon

                <audio controls="">
                    <source src="/public/cries/0471.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0472.png" class="cryImg">
                    Gliscor

                <audio controls="">
                    <source src="/public/cries/0472.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0473.png" class="cryImg">
                    Mamoswine

                <audio controls="">
                    <source src="/public/cries/0473.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0474.png" class="cryImg">
                    Porygon-Z

                <audio controls="">
                    <source src="/public/cries/0474.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0475.png" class="cryImg">
                    Gallade

                <audio controls="">
                    <source src="/public/cries/0475.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0475_mega.png" class="cryImg">
                    Gallade-Mega

                <audio controls="">
                    <source src="/public/cries/0475_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0476.png" class="cryImg">
                    Probopass

                <audio controls="">
                    <source src="/public/cries/0476.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0477.png" class="cryImg">
                    Dusknoir

                <audio controls="">
                    <source src="/public/cries/0477.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0478.png" class="cryImg">
                    Froslass

                <audio controls="">
                    <source src="/public/cries/0478.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0479.png" class="cryImg">
                    Rotom

                    <img src="/public/images/0479_heat.png" class="cryImg">
                    Rotom-Heat

                    <img src="/public/images/0479_wash.png" class="cryImg">
                    Rotom-Wash

                    <img src="/public/images/0479_frost.png" class="cryImg">
                    Rotom-Frost

                    <img src="/public/images/0479_fan.png" class="cryImg">
                    Rotom-Fan

                    <img src="/public/images/0479_mow.png" class="cryImg">
                    Rotom-Mow

                <audio controls="">
                    <source src="/public/cries/0479.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0480.png" class="cryImg">
                    Uxie

                <audio controls="">
                    <source src="/public/cries/0480.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0481.png" class="cryImg">
                    Mesprit

                <audio controls="">
                    <source src="/public/cries/0481.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0482.png" class="cryImg">
                    Azelf

                <audio controls="">
                    <source src="/public/cries/0482.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0483.png" class="cryImg">
                    Dialga

                    <img src="/public/images/0483_origin.png" class="cryImg">
                    Dialga-Origin

                <audio controls="">
                    <source src="/public/cries/0483.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0484.png" class="cryImg">
                    Palkia

                    <img src="/public/images/0484_origin.png" class="cryImg">
                    Palkia-Origin

                <audio controls="">
                    <source src="/public/cries/0484.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0485.png" class="cryImg">
                    Heatran

                <audio controls="">
                    <source src="/public/cries/0485.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0486.png" class="cryImg">
                    Regigigas

                <audio controls="">
                    <source src="/public/cries/0486.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0487_altered.png" class="cryImg">
                    Giratina-Altered

                    <img src="/public/images/0487_origin.png" class="cryImg">
                    Giratina-Origin

                <audio controls="">
                    <source src="/public/cries/0487.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0488.png" class="cryImg">
                    Cresselia

                <audio controls="">
                    <source src="/public/cries/0488.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0489.png" class="cryImg">
                    Phione

                <audio controls="">
                    <source src="/public/cries/0489.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0490.png" class="cryImg">
                    Manaphy

                <audio controls="">
                    <source src="/public/cries/0490.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0491.png" class="cryImg">
                    Darkrai

                <audio controls="">
                    <source src="/public/cries/0491.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0492_land.png" class="cryImg">
                    Shaymin-Land

                <audio controls="">
                    <source src="/public/cries/0492_land.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0492_sky.png" class="cryImg">
                    Shaymin-Sky

                <audio controls="">
                    <source src="/public/cries/0492_sky.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen4">

                    <img src="/public/images/0493.png" class="cryImg">
                    Arceus

                <audio controls="">
                    <source src="/public/cries/0493.mp3" type="audio/mpeg">
                </audio>
            </div></div>
    </main>
</section>
