<section>
    <h1>{{title}}</h1>
    <main>
        <p>A Repository containing all Pokémon cries - yes, even the alternate forms!</p>
        <p id="genIndicator">Generation 5</p>
        <div id="pkmnList"><div class="cryButton gen5">

                    <img src="/public/images/0494.png" class="cryImg">
                    Victini

                <audio controls="">
                    <source src="/public/cries/0494.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0495.png" class="cryImg">
                    Snivy

                <audio controls="">
                    <source src="/public/cries/0495.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0496.png" class="cryImg">
                    Servine

                <audio controls="">
                    <source src="/public/cries/0496.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0497.png" class="cryImg">
                    Serperior

                <audio controls="">
                    <source src="/public/cries/0497.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0498.png" class="cryImg">
                    Tepig

                <audio controls="">
                    <source src="/public/cries/0498.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0499.png" class="cryImg">
                    Pignite

                <audio controls="">
                    <source src="/public/cries/0499.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0500.png" class="cryImg">
                    Emboar

                <audio controls="">
                    <source src="/public/cries/0500.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0501.png" class="cryImg">
                    Oshawott

                <audio controls="">
                    <source src="/public/cries/0501.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0502.png" class="cryImg">
                    Dewott

                <audio controls="">
                    <source src="/public/cries/0502.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0503.png" class="cryImg">
                    Samurott

                    <img src="/public/images/0503_hisui.png" class="cryImg">
                    Samurott-Hisui

                <audio controls="">
                    <source src="/public/cries/0503.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0504.png" class="cryImg">
                    Patrat

                <audio controls="">
                    <source src="/public/cries/0504.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0505.png" class="cryImg">
                    Watchog

                <audio controls="">
                    <source src="/public/cries/0505.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0506.png" class="cryImg">
                    Lillipup

                <audio controls="">
                    <source src="/public/cries/0506.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0507.png" class="cryImg">
                    Herdier

                <audio controls="">
                    <source src="/public/cries/0507.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0508.png" class="cryImg">
                    Stoutland

                <audio controls="">
                    <source src="/public/cries/0508.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0509.png" class="cryImg">
                    Purrloin

                <audio controls="">
                    <source src="/public/cries/0509.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0510.png" class="cryImg">
                    Liepard

                <audio controls="">
                    <source src="/public/cries/0510.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0511.png" class="cryImg">
                    Pansage

                <audio controls="">
                    <source src="/public/cries/0511.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0512.png" class="cryImg">
                    Simisage

                <audio controls="">
                    <source src="/public/cries/0512.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0513.png" class="cryImg">
                    Pansear

                <audio controls="">
                    <source src="/public/cries/0513.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0514.png" class="cryImg">
                    Simisear

                <audio controls="">
                    <source src="/public/cries/0514.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0515.png" class="cryImg">
                    Panpour

                <audio controls="">
                    <source src="/public/cries/0515.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0516.png" class="cryImg">
                    Simipour

                <audio controls="">
                    <source src="/public/cries/0516.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0517.png" class="cryImg">
                    Munna

                <audio controls="">
                    <source src="/public/cries/0517.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0518.png" class="cryImg">
                    Musharna

                <audio controls="">
                    <source src="/public/cries/0518.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0519.png" class="cryImg">
                    Pidove

                <audio controls="">
                    <source src="/public/cries/0519.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0520.png" class="cryImg">
                    Tranquill

                <audio controls="">
                    <source src="/public/cries/0520.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0521.png" class="cryImg">
                    Unfezant

                <audio controls="">
                    <source src="/public/cries/0521.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0522.png" class="cryImg">
                    Blitzle

                <audio controls="">
                    <source src="/public/cries/0522.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0523.png" class="cryImg">
                    Zebstrika

                <audio controls="">
                    <source src="/public/cries/0523.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0524.png" class="cryImg">
                    Roggenrola

                <audio controls="">
                    <source src="/public/cries/0524.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0525.png" class="cryImg">
                    Boldore

                <audio controls="">
                    <source src="/public/cries/0525.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0526.png" class="cryImg">
                    Gigalith

                <audio controls="">
                    <source src="/public/cries/0526.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0527.png" class="cryImg">
                    Woobat

                <audio controls="">
                    <source src="/public/cries/0527.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0528.png" class="cryImg">
                    Swoobat

                <audio controls="">
                    <source src="/public/cries/0528.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0529.png" class="cryImg">
                    Drilbur

                <audio controls="">
                    <source src="/public/cries/0529.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0530.png" class="cryImg">
                    Excadrill

                <audio controls="">
                    <source src="/public/cries/0530.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0531.png" class="cryImg">
                    Audino

                <audio controls="">
                    <source src="/public/cries/0531.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0531_mega.png" class="cryImg">
                    Audino-Mega

                <audio controls="">
                    <source src="/public/cries/0531_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0532.png" class="cryImg">
                    Timburr

                <audio controls="">
                    <source src="/public/cries/0532.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0533.png" class="cryImg">
                    Gurdurr

                <audio controls="">
                    <source src="/public/cries/0533.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0534.png" class="cryImg">
                    Conkeldurr

                <audio controls="">
                    <source src="/public/cries/0534.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0535.png" class="cryImg">
                    Tympole

                <audio controls="">
                    <source src="/public/cries/0535.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0536.png" class="cryImg">
                    Palpitoad

                <audio controls="">
                    <source src="/public/cries/0536.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0537.png" class="cryImg">
                    Seismitoad

                <audio controls="">
                    <source src="/public/cries/0537.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0538.png" class="cryImg">
                    Throh

                <audio controls="">
                    <source src="/public/cries/0538.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0539.png" class="cryImg">
                    Sawk

                <audio controls="">
                    <source src="/public/cries/0539.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0540.png" class="cryImg">
                    Sewaddle

                <audio controls="">
                    <source src="/public/cries/0540.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0541.png" class="cryImg">
                    Swadloon

                <audio controls="">
                    <source src="/public/cries/0541.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0542.png" class="cryImg">
                    Leavanny

                <audio controls="">
                    <source src="/public/cries/0542.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0543.png" class="cryImg">
                    Venipede

                <audio controls="">
                    <source src="/public/cries/0543.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0544.png" class="cryImg">
                    Whirlipede

                <audio controls="">
                    <source src="/public/cries/0544.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0545.png" class="cryImg">
                    Scolipede

                <audio controls="">
                    <source src="/public/cries/0545.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0546.png" class="cryImg">
                    Cottonee

                <audio controls="">
                    <source src="/public/cries/0546.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0547.png" class="cryImg">
                    Whimsicott

                <audio controls="">
                    <source src="/public/cries/0547.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0548.png" class="cryImg">
                    Petilil

                <audio controls="">
                    <source src="/public/cries/0548.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0549.png" class="cryImg">
                    Lilligant

                    <img src="/public/images/0549_hisui.png" class="cryImg">
                    Lilligant-Hisui

                <audio controls="">
                    <source src="/public/cries/0549.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0550_red.png" class="cryImg">
                    Basculin-Red

                    <img src="/public/images/0550_blue.png" class="cryImg">
                    Basculin-Blue

                    <img src="/public/images/0550_white.png" class="cryImg">
                    Basculin-White

                <audio controls="">
                    <source src="/public/cries/0550.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0551.png" class="cryImg">
                    Sandile

                <audio controls="">
                    <source src="/public/cries/0551.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0552.png" class="cryImg">
                    Krokorok

                <audio controls="">
                    <source src="/public/cries/0552.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0553.png" class="cryImg">
                    Krookodile

                <audio controls="">
                    <source src="/public/cries/0553.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0554.png" class="cryImg">
                    Darumaka

                    <img src="/public/images/0554_galar.png" class="cryImg">
                    Darumaka-Galar

                <audio controls="">
                    <source src="/public/cries/0554.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0555.png" class="cryImg">
                    Darmanitan

                    <img src="/public/images/0555_zen.png" class="cryImg">
                    Darmanitan-Zen

                    <img src="/public/images/0555_galar.png" class="cryImg">
                    Darmanitan-Galar

                    <img src="/public/images/0555_galar zen.png" class="cryImg">
                    Darmanitan-Galar Zen

                <audio controls="">
                    <source src="/public/cries/0555.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0556.png" class="cryImg">
                    Maractus

                <audio controls="">
                    <source src="/public/cries/0556.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0557.png" class="cryImg">
                    Dwebble

                <audio controls="">
                    <source src="/public/cries/0557.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0558.png" class="cryImg">
                    Crustle

                <audio controls="">
                    <source src="/public/cries/0558.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0559.png" class="cryImg">
                    Scraggy

                <audio controls="">
                    <source src="/public/cries/0559.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0560.png" class="cryImg">
                    Scrafty

                <audio controls="">
                    <source src="/public/cries/0560.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0561.png" class="cryImg">
                    Sigilyph

                <audio controls="">
                    <source src="/public/cries/0561.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0562.png" class="cryImg">
                    Yamask

                    <img src="/public/images/0562_galar.png" class="cryImg">
                    Yamask-Galar

                <audio controls="">
                    <source src="/public/cries/0562.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0563.png" class="cryImg">
                    Cofagrigus

                <audio controls="">
                    <source src="/public/cries/0563.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0564.png" class="cryImg">
                    Tirtouga

                <audio controls="">
                    <source src="/public/cries/0564.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0565.png" class="cryImg">
                    Carracosta

                <audio controls="">
                    <source src="/public/cries/0565.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0566.png" class="cryImg">
                    Archen

                <audio controls="">
                    <source src="/public/cries/0566.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0567.png" class="cryImg">
                    Archeops

                <audio controls="">
                    <source src="/public/cries/0567.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0568.png" class="cryImg">
                    Trubbish

                <audio controls="">
                    <source src="/public/cries/0568.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0569.png" class="cryImg">
                    Garbodor

                <audio controls="">
                    <source src="/public/cries/0569.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0570.png" class="cryImg">
                    Zorua

                    <img src="/public/images/0570_hisui.png" class="cryImg">
                    Zorua-Hisui

                <audio controls="">
                    <source src="/public/cries/0570.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0571.png" class="cryImg">
                    Zoroark

                    <img src="/public/images/0571_hisui.png" class="cryImg">
                    Zoroark-Hisui

                <audio controls="">
                    <source src="/public/cries/0571.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0572.png" class="cryImg">
                    Minccino

                <audio controls="">
                    <source src="/public/cries/0572.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0573.png" class="cryImg">
                    Cinccino

                <audio controls="">
                    <source src="/public/cries/0573.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0574.png" class="cryImg">
                    Gothita

                <audio controls="">
                    <source src="/public/cries/0574.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0575.png" class="cryImg">
                    Gothorita

                <audio controls="">
                    <source src="/public/cries/0575.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0576.png" class="cryImg">
                    Gothitelle

                <audio controls="">
                    <source src="/public/cries/0576.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0577.png" class="cryImg">
                    Solosis

                <audio controls="">
                    <source src="/public/cries/0577.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0578.png" class="cryImg">
                    Duosion

                <audio controls="">
                    <source src="/public/cries/0578.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0579.png" class="cryImg">
                    Reuniclus

                <audio controls="">
                    <source src="/public/cries/0579.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0580.png" class="cryImg">
                    Ducklett

                <audio controls="">
                    <source src="/public/cries/0580.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0581.png" class="cryImg">
                    Swanna

                <audio controls="">
                    <source src="/public/cries/0581.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0582.png" class="cryImg">
                    Vanillite

                <audio controls="">
                    <source src="/public/cries/0582.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0583.png" class="cryImg">
                    Vanillish

                <audio controls="">
                    <source src="/public/cries/0583.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0584.png" class="cryImg">
                    Vanilluxe

                <audio controls="">
                    <source src="/public/cries/0584.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0585_spring.png" class="cryImg">
                    Deerling-Spring

                    <img src="/public/images/0585_summer.png" class="cryImg">
                    Deerling-Summer

                    <img src="/public/images/0585_autumn.png" class="cryImg">
                    Deerling-Autumn

                    <img src="/public/images/0585_winter.png" class="cryImg">
                    Deerling-Winter

                <audio controls="">
                    <source src="/public/cries/0585.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0586_spring.png" class="cryImg">
                    Sawsbuck-Spring

                    <img src="/public/images/0586_summer.png" class="cryImg">
                    Sawsbuck-Summer

                    <img src="/public/images/0586_autumn.png" class="cryImg">
                    Sawsbuck-Autumn

                    <img src="/public/images/0586_winter.png" class="cryImg">
                    Sawsbuck-Winter

                <audio controls="">
                    <source src="/public/cries/0586.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0587.png" class="cryImg">
                    Emolga

                <audio controls="">
                    <source src="/public/cries/0587.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0588.png" class="cryImg">
                    Karrablast

                <audio controls="">
                    <source src="/public/cries/0588.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0589.png" class="cryImg">
                    Escavalier

                <audio controls="">
                    <source src="/public/cries/0589.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0590.png" class="cryImg">
                    Foongus

                <audio controls="">
                    <source src="/public/cries/0590.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0591.png" class="cryImg">
                    Amoonguss

                <audio controls="">
                    <source src="/public/cries/0591.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0592.png" class="cryImg">
                    Frillish

                <audio controls="">
                    <source src="/public/cries/0592.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0593.png" class="cryImg">
                    Jellicent

                <audio controls="">
                    <source src="/public/cries/0593.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0594.png" class="cryImg">
                    Alomomola

                <audio controls="">
                    <source src="/public/cries/0594.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0595.png" class="cryImg">
                    Joltik

                <audio controls="">
                    <source src="/public/cries/0595.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0596.png" class="cryImg">
                    Galvantula

                <audio controls="">
                    <source src="/public/cries/0596.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0597.png" class="cryImg">
                    Ferroseed

                <audio controls="">
                    <source src="/public/cries/0597.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0598.png" class="cryImg">
                    Ferrothorn

                <audio controls="">
                    <source src="/public/cries/0598.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0599.png" class="cryImg">
                    Klink

                <audio controls="">
                    <source src="/public/cries/0599.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0600.png" class="cryImg">
                    Klang

                <audio controls="">
                    <source src="/public/cries/0600.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0601.png" class="cryImg">
                    Klinklang

                <audio controls="">
                    <source src="/public/cries/0601.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0602.png" class="cryImg">
                    Tynamo

                <audio controls="">
                    <source src="/public/cries/0602.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0603.png" class="cryImg">
                    Eelektrik

                <audio controls="">
                    <source src="/public/cries/0603.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0604.png" class="cryImg">
                    Eelektross

                <audio controls="">
                    <source src="/public/cries/0604.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0605.png" class="cryImg">
                    Elgyem

                <audio controls="">
                    <source src="/public/cries/0605.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0606.png" class="cryImg">
                    Beheeyem

                <audio controls="">
                    <source src="/public/cries/0606.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0607.png" class="cryImg">
                    Litwick

                <audio controls="">
                    <source src="/public/cries/0607.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0608.png" class="cryImg">
                    Lampent

                <audio controls="">
                    <source src="/public/cries/0608.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0609.png" class="cryImg">
                    Chandelure

                <audio controls="">
                    <source src="/public/cries/0609.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0610.png" class="cryImg">
                    Axew

                <audio controls="">
                    <source src="/public/cries/0610.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0611.png" class="cryImg">
                    Fraxure

                <audio controls="">
                    <source src="/public/cries/0611.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0612.png" class="cryImg">
                    Haxorus

                <audio controls="">
                    <source src="/public/cries/0612.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0613.png" class="cryImg">
                    Cubchoo

                <audio controls="">
                    <source src="/public/cries/0613.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0614.png" class="cryImg">
                    Beartic

                <audio controls="">
                    <source src="/public/cries/0614.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0615.png" class="cryImg">
                    Cryogonal

                <audio controls="">
                    <source src="/public/cries/0615.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0616.png" class="cryImg">
                    Shelmet

                <audio controls="">
                    <source src="/public/cries/0616.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0617.png" class="cryImg">
                    Accelgor

                <audio controls="">
                    <source src="/public/cries/0617.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0618.png" class="cryImg">
                    Stunfisk

                    <img src="/public/images/0618_galar.png" class="cryImg">
                    Stunfisk-Galar

                <audio controls="">
                    <source src="/public/cries/0618.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0619.png" class="cryImg">
                    Mienfoo

                <audio controls="">
                    <source src="/public/cries/0619.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0620.png" class="cryImg">
                    Mienshao

                <audio controls="">
                    <source src="/public/cries/0620.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0621.png" class="cryImg">
                    Druddigon

                <audio controls="">
                    <source src="/public/cries/0621.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0622.png" class="cryImg">
                    Golett

                <audio controls="">
                    <source src="/public/cries/0622.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0623.png" class="cryImg">
                    Golurk

                <audio controls="">
                    <source src="/public/cries/0623.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0624.png" class="cryImg">
                    Pawniard

                <audio controls="">
                    <source src="/public/cries/0624.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0625.png" class="cryImg">
                    Bisharp

                <audio controls="">
                    <source src="/public/cries/0625.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0626.png" class="cryImg">
                    Bouffalant

                <audio controls="">
                    <source src="/public/cries/0626.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0627.png" class="cryImg">
                    Rufflet

                <audio controls="">
                    <source src="/public/cries/0627.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0628.png" class="cryImg">
                    Braviary

                    <img src="/public/images/0628_hisui.png" class="cryImg">
                    Braviary-Hisui

                <audio controls="">
                    <source src="/public/cries/0628.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0629.png" class="cryImg">
                    Vullaby

                <audio controls="">
                    <source src="/public/cries/0629.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0630.png" class="cryImg">
                    Mandibuzz

                <audio controls="">
                    <source src="/public/cries/0630.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0631.png" class="cryImg">
                    Heatmor

                <audio controls="">
                    <source src="/public/cries/0631.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0632.png" class="cryImg">
                    Durant

                <audio controls="">
                    <source src="/public/cries/0632.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0633.png" class="cryImg">
                    Deino

                <audio controls="">
                    <source src="/public/cries/0633.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0634.png" class="cryImg">
                    Zweilous

                <audio controls="">
                    <source src="/public/cries/0634.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0635.png" class="cryImg">
                    Hydreigon

                <audio controls="">
                    <source src="/public/cries/0635.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0636.png" class="cryImg">
                    Larvesta

                <audio controls="">
                    <source src="/public/cries/0636.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0637.png" class="cryImg">
                    Volcarona

                <audio controls="">
                    <source src="/public/cries/0637.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0638.png" class="cryImg">
                    Cobalion

                <audio controls="">
                    <source src="/public/cries/0638.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0639.png" class="cryImg">
                    Terrakion

                <audio controls="">
                    <source src="/public/cries/0639.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0640.png" class="cryImg">
                    Virizion

                <audio controls="">
                    <source src="/public/cries/0640.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0641_incarnate.png" class="cryImg">
                    Tornadus-Incarnate

                <audio controls="">
                    <source src="/public/cries/0641_incarnate.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0641_therian.png" class="cryImg">
                    Tornadus-Therian

                <audio controls="">
                    <source src="/public/cries/0641_therian.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0642_incarnate.png" class="cryImg">
                    Thundurus-Incarnate

                <audio controls="">
                    <source src="/public/cries/0642_incarnate.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0642_therian.png" class="cryImg">
                    Thundurus-Therian

                <audio controls="">
                    <source src="/public/cries/0642_therian.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0643.png" class="cryImg">
                    Reshiram

                <audio controls="">
                    <source src="/public/cries/0643.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0644.png" class="cryImg">
                    Zekrom

                <audio controls="">
                    <source src="/public/cries/0644.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0645_incarnate.png" class="cryImg">
                    Landorus-Incarnate

                <audio controls="">
                    <source src="/public/cries/0645_incarnate.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0645_therian.png" class="cryImg">
                    Landorus-Therian

                <audio controls="">
                    <source src="/public/cries/0645_therian.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0646.png" class="cryImg">
                    Kyurem

                <audio controls="">
                    <source src="/public/cries/0646.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0646_white.png" class="cryImg">
                    Kyurem-White

                <audio controls="">
                    <source src="/public/cries/0646_white.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0646_black.png" class="cryImg">
                    Kyurem-Black

                <audio controls="">
                    <source src="/public/cries/0646_black.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0647.png" class="cryImg">
                    Keldeo

                    <img src="/public/images/0647_resolute.png" class="cryImg">
                    Keldeo-Resolute

                <audio controls="">
                    <source src="/public/cries/0647.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0648_aria.png" class="cryImg">
                    Meloetta-Aria

                    <img src="/public/images/0648_pirouette.png" class="cryImg">
                    Meloetta-Pirouette

                <audio controls="">
                    <source src="/public/cries/0648.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen5">

                    <img src="/public/images/0649.png" class="cryImg">
                    Genesect

                <audio controls="">
                    <source src="/public/cries/0649.mp3" type="audio/mpeg">
                </audio>
            </div></div>
    </main>
</section>
