<section>
    <h1>{{title}}</h1>
    <main>
        <p>A Repository containing all Pokémon cries - yes, even the alternate forms!</p>
        <p id="genIndicator">Generation 6</p>
        <div id="pkmnList"><div class="cryButton">

                    <img src="/public/images/0650.png" class="cryImg">
                    Chespin

                <audio controls="">
                    <source src="/public/cries/0650.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0651.png" class="cryImg">
                    Quilladin

                <audio controls="">
                    <source src="/public/cries/0651.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0652.png" class="cryImg">
                    Chesnaught

                <audio controls="">
                    <source src="/public/cries/0652.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0653.png" class="cryImg">
                    Fennekin

                <audio controls="">
                    <source src="/public/cries/0653.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0654.png" class="cryImg">
                    Braixen

                <audio controls="">
                    <source src="/public/cries/0654.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0655.png" class="cryImg">
                    Delphox

                <audio controls="">
                    <source src="/public/cries/0655.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0656.png" class="cryImg">
                    Froakie

                <audio controls="">
                    <source src="/public/cries/0656.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0657.png" class="cryImg">
                    Frogadier

                <audio controls="">
                    <source src="/public/cries/0657.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0658.png" class="cryImg">
                    Greninja

                    <img src="/public/images/0658_ash.png" class="cryImg">
                    Greninja-Ash

                <audio controls="">
                    <source src="/public/cries/0658.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0659.png" class="cryImg">
                    Bunnelby

                <audio controls="">
                    <source src="/public/cries/0659.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0660.png" class="cryImg">
                    Diggersby

                <audio controls="">
                    <source src="/public/cries/0660.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0661.png" class="cryImg">
                    Fletchling

                <audio controls="">
                    <source src="/public/cries/0661.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0662.png" class="cryImg">
                    Fletchinder

                <audio controls="">
                    <source src="/public/cries/0662.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0663.png" class="cryImg">
                    Talonflame

                <audio controls="">
                    <source src="/public/cries/0663.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0664.png" class="cryImg">
                    Scatterbug

                <audio controls="">
                    <source src="/public/cries/0664.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0665.png" class="cryImg">
                    Spewpa

                <audio controls="">
                    <source src="/public/cries/0665.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0666.png" class="cryImg">
                    Vivillon

                <audio controls="">
                    <source src="/public/cries/0666.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0667.png" class="cryImg">
                    Litleo

                <audio controls="">
                    <source src="/public/cries/0667.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0668.png" class="cryImg">
                    Pyroar

                <audio controls="">
                    <source src="/public/cries/0668.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0669.png" class="cryImg">
                    Flabébé

                <audio controls="">
                    <source src="/public/cries/0669.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0670.png" class="cryImg">
                    Floette

                    <img src="/public/images/0670_eternal.png" class="cryImg">
                    Floette-Eternal

                <audio controls="">
                    <source src="/public/cries/0670.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0671.png" class="cryImg">
                    Florges

                <audio controls="">
                    <source src="/public/cries/0671.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0672.png" class="cryImg">
                    Skiddo

                <audio controls="">
                    <source src="/public/cries/0672.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0673.png" class="cryImg">
                    Gogoat

                <audio controls="">
                    <source src="/public/cries/0673.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0674.png" class="cryImg">
                    Pancham

                <audio controls="">
                    <source src="/public/cries/0674.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0675.png" class="cryImg">
                    Pangoro

                <audio controls="">
                    <source src="/public/cries/0675.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0676.png" class="cryImg">
                    Furfrou

                <audio controls="">
                    <source src="/public/cries/0676.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0677.png" class="cryImg">
                    Espurr

                <audio controls="">
                    <source src="/public/cries/0677.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0678_male.png" class="cryImg">
                    Meowstic-Male

                    <img src="/public/images/0678_female.png" class="cryImg">
                    Meowstic-Female

                <audio controls="">
                    <source src="/public/cries/0678.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0679.png" class="cryImg">
                    Honedge

                <audio controls="">
                    <source src="/public/cries/0679.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0680.png" class="cryImg">
                    Doublade

                <audio controls="">
                    <source src="/public/cries/0680.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0681_shield.png" class="cryImg">
                    Aegislash-Shield

                    <img src="/public/images/0681_blade.png" class="cryImg">
                    Aegislash-Blade

                <audio controls="">
                    <source src="/public/cries/0681.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0682.png" class="cryImg">
                    Spritzee

                <audio controls="">
                    <source src="/public/cries/0682.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0683.png" class="cryImg">
                    Aromatisse

                <audio controls="">
                    <source src="/public/cries/0683.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0684.png" class="cryImg">
                    Swirlix

                <audio controls="">
                    <source src="/public/cries/0684.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0685.png" class="cryImg">
                    Slurpuff

                <audio controls="">
                    <source src="/public/cries/0685.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0686.png" class="cryImg">
                    Inkay

                <audio controls="">
                    <source src="/public/cries/0686.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0687.png" class="cryImg">
                    Malamar

                <audio controls="">
                    <source src="/public/cries/0687.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0688.png" class="cryImg">
                    Binacle

                <audio controls="">
                    <source src="/public/cries/0688.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0689.png" class="cryImg">
                    Barbaracle

                <audio controls="">
                    <source src="/public/cries/0689.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0690.png" class="cryImg">
                    Skrelp

                <audio controls="">
                    <source src="/public/cries/0690.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0691.png" class="cryImg">
                    Dragalge

                <audio controls="">
                    <source src="/public/cries/0691.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0692.png" class="cryImg">
                    Clauncher

                <audio controls="">
                    <source src="/public/cries/0692.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0693.png" class="cryImg">
                    Clawitzer

                <audio controls="">
                    <source src="/public/cries/0693.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0694.png" class="cryImg">
                    Helioptile

                <audio controls="">
                    <source src="/public/cries/0694.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0695.png" class="cryImg">
                    Heliolisk

                <audio controls="">
                    <source src="/public/cries/0695.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0696.png" class="cryImg">
                    Tyrunt

                <audio controls="">
                    <source src="/public/cries/0696.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0697.png" class="cryImg">
                    Tyrantrum

                <audio controls="">
                    <source src="/public/cries/0697.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0698.png" class="cryImg">
                    Amaura

                <audio controls="">
                    <source src="/public/cries/0698.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0699.png" class="cryImg">
                    Aurorus

                <audio controls="">
                    <source src="/public/cries/0699.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0700.png" class="cryImg">
                    Sylveon

                <audio controls="">
                    <source src="/public/cries/0700.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0701.png" class="cryImg">
                    Hawlucha

                <audio controls="">
                    <source src="/public/cries/0701.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0702.png" class="cryImg">
                    Dedenne

                <audio controls="">
                    <source src="/public/cries/0702.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0703.png" class="cryImg">
                    Carbink

                <audio controls="">
                    <source src="/public/cries/0703.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0704.png" class="cryImg">
                    Goomy

                <audio controls="">
                    <source src="/public/cries/0704.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0705.png" class="cryImg">
                    Sliggoo

                    <img src="/public/images/0705_hisui.png" class="cryImg">
                    Sliggoo-Hisui

                <audio controls="">
                    <source src="/public/cries/0705.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0706.png" class="cryImg">
                    Goodra

                    <img src="/public/images/0706_hisui.png" class="cryImg">
                    Goodra-Hisui

                <audio controls="">
                    <source src="/public/cries/0706.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0707.png" class="cryImg">
                    Klefki

                <audio controls="">
                    <source src="/public/cries/0707.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0708.png" class="cryImg">
                    Phantump

                <audio controls="">
                    <source src="/public/cries/0708.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0709.png" class="cryImg">
                    Trevenant

                <audio controls="">
                    <source src="/public/cries/0709.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0710_average.png" class="cryImg">
                    Pumpkaboo-Average

                    <img src="/public/images/0710_small.png" class="cryImg">
                    Pumpkaboo-Small

                    <img src="/public/images/0710_large.png" class="cryImg">
                    Pumpkaboo-Large

                <audio controls="">
                    <source src="/public/cries/0710.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0710_super.png" class="cryImg">
                    Pumpkaboo-Super

                <audio controls="">
                    <source src="/public/cries/0710_super.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0711_average.png" class="cryImg">
                    Gourgeist-Average

                    <img src="/public/images/0711_small.png" class="cryImg">
                    Gourgeist-Small

                    <img src="/public/images/0711_large.png" class="cryImg">
                    Gourgeist-Large

                <audio controls="">
                    <source src="/public/cries/0711.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0711_super.png" class="cryImg">
                    Gourgeist-Super

                <audio controls="">
                    <source src="/public/cries/0711_super.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0712.png" class="cryImg">
                    Bergmite

                <audio controls="">
                    <source src="/public/cries/0712.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0713.png" class="cryImg">
                    Avalugg

                    <img src="/public/images/0713_hisui.png" class="cryImg">
                    Avalugg-Hisui

                <audio controls="">
                    <source src="/public/cries/0713.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0714.png" class="cryImg">
                    Noibat

                <audio controls="">
                    <source src="/public/cries/0714.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0715.png" class="cryImg">
                    Noivern

                <audio controls="">
                    <source src="/public/cries/0715.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0716.png" class="cryImg">
                    Xerneas

                <audio controls="">
                    <source src="/public/cries/0716.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0717.png" class="cryImg">
                    Yveltal

                <audio controls="">
                    <source src="/public/cries/0717.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0718_50%.png" class="cryImg">
                    Zygarde-50%

                <audio controls="">
                    <source src="/public/cries/0718_50%.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0718_10%.png" class="cryImg">
                    Zygarde-10%

                <audio controls="">
                    <source src="/public/cries/0718_10%.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0718_complete.png" class="cryImg">
                    Zygarde-Complete

                <audio controls="">
                    <source src="/public/cries/0718_complete.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0719.png" class="cryImg">
                    Diancie

                <audio controls="">
                    <source src="/public/cries/0719.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0719_mega.png" class="cryImg">
                    Diancie-Mega

                <audio controls="">
                    <source src="/public/cries/0719_mega.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0720_confined.png" class="cryImg">
                    Hoopa-Confined

                <audio controls="">
                    <source src="/public/cries/0720_confined.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0720_unbound.png" class="cryImg">
                    Hoopa-Unbound

                <audio controls="">
                    <source src="/public/cries/0720_unbound.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton">

                    <img src="/public/images/0721.png" class="cryImg">
                    Volcanion

                <audio controls="">
                    <source src="/public/cries/0721.mp3" type="audio/mpeg">
                </audio>
            </div></div>
    </main>
</section>
