<section>
    <h1>{{title}}</h1>
    <main>
        <p>A Repository containing all Pokémon cries - yes, even the alternate forms!</p>
        <p id="genIndicator">Generation 7</p>
        <div id="pkmnList"><div class="cryButton gen7">

                    <img src="/public/images/0722.png" class="cryImg">
                    Rowlet

                <audio controls="">
                    <source src="/public/cries/0722.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0723.png" class="cryImg">
                    Dartrix

                <audio controls="">
                    <source src="/public/cries/0723.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0724.png" class="cryImg">
                    Decidueye

                    <img src="/public/images/0724_hisui.png" class="cryImg">
                    Decidueye-Hisui

                <audio controls="">
                    <source src="/public/cries/0724.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0725.png" class="cryImg">
                    Litten

                <audio controls="">
                    <source src="/public/cries/0725.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0726.png" class="cryImg">
                    Torracat

                <audio controls="">
                    <source src="/public/cries/0726.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0727.png" class="cryImg">
                    Incineroar

                <audio controls="">
                    <source src="/public/cries/0727.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0728.png" class="cryImg">
                    Popplio

                <audio controls="">
                    <source src="/public/cries/0728.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0729.png" class="cryImg">
                    Brionne

                <audio controls="">
                    <source src="/public/cries/0729.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0730.png" class="cryImg">
                    Primarina

                <audio controls="">
                    <source src="/public/cries/0730.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0731.png" class="cryImg">
                    Pikipek

                <audio controls="">
                    <source src="/public/cries/0731.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0732.png" class="cryImg">
                    Trumbeak

                <audio controls="">
                    <source src="/public/cries/0732.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0733.png" class="cryImg">
                    Toucannon

                <audio controls="">
                    <source src="/public/cries/0733.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0734.png" class="cryImg">
                    Yungoos

                <audio controls="">
                    <source src="/public/cries/0734.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0735.png" class="cryImg">
                    Gumshoos

                <audio controls="">
                    <source src="/public/cries/0735.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0736.png" class="cryImg">
                    Grubbin

                <audio controls="">
                    <source src="/public/cries/0736.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0737.png" class="cryImg">
                    Charjabug

                <audio controls="">
                    <source src="/public/cries/0737.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0738.png" class="cryImg">
                    Vikavolt

                <audio controls="">
                    <source src="/public/cries/0738.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0739.png" class="cryImg">
                    Crabrawler

                <audio controls="">
                    <source src="/public/cries/0739.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0740.png" class="cryImg">
                    Crabominable

                <audio controls="">
                    <source src="/public/cries/0740.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0741_baile.png" class="cryImg">
                    Oricorio-Baile

                <audio controls="">
                    <source src="/public/cries/0741_baile.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0741_pom-pom.png" class="cryImg">
                    Oricorio-Pom-Pom

                <audio controls="">
                    <source src="/public/cries/0741_pom-pom.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0741_pa'u.png" class="cryImg">
                    Oricorio-Pa'u

                <audio controls="">
                    <source src="/public/cries/0741_pa'u.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0741_sensu.png" class="cryImg">
                    Oricorio-Sensu

                <audio controls="">
                    <source src="/public/cries/0741_sensu.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0742.png" class="cryImg">
                    Cutiefly

                <audio controls="">
                    <source src="/public/cries/0742.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0743.png" class="cryImg">
                    Ribombee

                <audio controls="">
                    <source src="/public/cries/0743.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0744.png" class="cryImg">
                    Rockruff

                <audio controls="">
                    <source src="/public/cries/0744.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0745_midday.png" class="cryImg">
                    Lycanroc-Midday

                <audio controls="">
                    <source src="/public/cries/0745_midday.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0745_midnight.png" class="cryImg">
                    Lycanroc-Midnight

                <audio controls="">
                    <source src="/public/cries/0745_midnight.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0745_dusk.png" class="cryImg">
                    Lycanroc-Dusk

                <audio controls="">
                    <source src="/public/cries/0745_dusk.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0746_solo.png" class="cryImg">
                    Wishiwashi-Solo

                <audio controls="">
                    <source src="/public/cries/0746_solo.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0746_school.png" class="cryImg">
                    Wishiwash-School

                <audio controls="">
                    <source src="/public/cries/0746_school.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0747.png" class="cryImg">
                    Mareanie

                <audio controls="">
                    <source src="/public/cries/0747.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0748.png" class="cryImg">
                    Toxapex

                <audio controls="">
                    <source src="/public/cries/0748.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0749.png" class="cryImg">
                    Mudbray

                <audio controls="">
                    <source src="/public/cries/0749.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0750.png" class="cryImg">
                    Mudsdale

                <audio controls="">
                    <source src="/public/cries/0750.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0751.png" class="cryImg">
                    Dewpider

                <audio controls="">
                    <source src="/public/cries/0751.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0752.png" class="cryImg">
                    Araquanid

                <audio controls="">
                    <source src="/public/cries/0752.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0753.png" class="cryImg">
                    Fomantis

                <audio controls="">
                    <source src="/public/cries/0753.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0754.png" class="cryImg">
                    Lurantis

                <audio controls="">
                    <source src="/public/cries/0754.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0755.png" class="cryImg">
                    Morelull

                <audio controls="">
                    <source src="/public/cries/0755.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0756.png" class="cryImg">
                    Shiinotic

                <audio controls="">
                    <source src="/public/cries/0756.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0757.png" class="cryImg">
                    Salandit

                <audio controls="">
                    <source src="/public/cries/0757.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0758.png" class="cryImg">
                    Salazzle

                <audio controls="">
                    <source src="/public/cries/0758.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0759.png" class="cryImg">
                    Stufful

                <audio controls="">
                    <source src="/public/cries/0759.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0760.png" class="cryImg">
                    Bewear

                <audio controls="">
                    <source src="/public/cries/0760.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0761.png" class="cryImg">
                    Bounsweet

                <audio controls="">
                    <source src="/public/cries/0761.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0762.png" class="cryImg">
                    Steenee

                <audio controls="">
                    <source src="/public/cries/0762.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0763.png" class="cryImg">
                    Tsareena

                <audio controls="">
                    <source src="/public/cries/0763.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0764.png" class="cryImg">
                    Comfey

                <audio controls="">
                    <source src="/public/cries/0764.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0765.png" class="cryImg">
                    Oranguru

                <audio controls="">
                    <source src="/public/cries/0765.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0766.png" class="cryImg">
                    Passimian

                <audio controls="">
                    <source src="/public/cries/0766.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0767.png" class="cryImg">
                    Wimpod

                <audio controls="">
                    <source src="/public/cries/0767.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0768.png" class="cryImg">
                    Golisopod

                <audio controls="">
                    <source src="/public/cries/0768.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0769.png" class="cryImg">
                    Sandygast

                <audio controls="">
                    <source src="/public/cries/0769.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0770.png" class="cryImg">
                    Palossand

                <audio controls="">
                    <source src="/public/cries/0770.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0771.png" class="cryImg">
                    Pyukumuku

                <audio controls="">
                    <source src="/public/cries/0771.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0772.png" class="cryImg">
                    Type: Null

                <audio controls="">
                    <source src="/public/cries/0772.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0773.png" class="cryImg">
                    Silvally

                <audio controls="">
                    <source src="/public/cries/0773.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0774_meteor.png" class="cryImg">
                    Minior-Meteor

                    <img src="/public/images/0774_core.png" class="cryImg">
                    Minior-Core

                <audio controls="">
                    <source src="/public/cries/0774.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0775.png" class="cryImg">
                    Komala

                <audio controls="">
                    <source src="/public/cries/0775.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0776.png" class="cryImg">
                    Turtonator

                <audio controls="">
                    <source src="/public/cries/0776.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0777.png" class="cryImg">
                    Togedemaru

                <audio controls="">
                    <source src="/public/cries/0777.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0778.png" class="cryImg">
                    Mimikyu

                <audio controls="">
                    <source src="/public/cries/0778.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0779.png" class="cryImg">
                    Bruxish

                <audio controls="">
                    <source src="/public/cries/0779.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0780.png" class="cryImg">
                    Drampa

                <audio controls="">
                    <source src="/public/cries/0780.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0781.png" class="cryImg">
                    Dhelmise

                <audio controls="">
                    <source src="/public/cries/0781.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0782.png" class="cryImg">
                    Jangmo-o

                <audio controls="">
                    <source src="/public/cries/0782.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0783.png" class="cryImg">
                    Hakamo-o

                <audio controls="">
                    <source src="/public/cries/0783.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0784.png" class="cryImg">
                    Kommo-o

                <audio controls="">
                    <source src="/public/cries/0784.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0785.png" class="cryImg">
                    Tapu Koko

                <audio controls="">
                    <source src="/public/cries/0785.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0786.png" class="cryImg">
                    Tapu Lele

                <audio controls="">
                    <source src="/public/cries/0786.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0787.png" class="cryImg">
                    Tapu Bulu

                <audio controls="">
                    <source src="/public/cries/0787.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0788.png" class="cryImg">
                    Tapu Fini

                <audio controls="">
                    <source src="/public/cries/0788.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0789.png" class="cryImg">
                    Cosmog

                <audio controls="">
                    <source src="/public/cries/0789.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0790.png" class="cryImg">
                    Cosmoem

                <audio controls="">
                    <source src="/public/cries/0790.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0791.png" class="cryImg">
                    Solgaleo

                <audio controls="">
                    <source src="/public/cries/0791.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0792.png" class="cryImg">
                    Lunala

                <audio controls="">
                    <source src="/public/cries/0792.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0793.png" class="cryImg">
                    Nihilego

                <audio controls="">
                    <source src="/public/cries/0793.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0794.png" class="cryImg">
                    Buzzwole

                <audio controls="">
                    <source src="/public/cries/0794.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0795.png" class="cryImg">
                    Pheromosa

                <audio controls="">
                    <source src="/public/cries/0795.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0796.png" class="cryImg">
                    Xurkitree

                <audio controls="">
                    <source src="/public/cries/0796.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0797.png" class="cryImg">
                    Celesteela

                <audio controls="">
                    <source src="/public/cries/0797.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0798.png" class="cryImg">
                    Kartana

                <audio controls="">
                    <source src="/public/cries/0798.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0799.png" class="cryImg">
                    Guzzlord

                <audio controls="">
                    <source src="/public/cries/0799.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0800.png" class="cryImg">
                    Necrozma

                <audio controls="">
                    <source src="/public/cries/0800.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0800_dusk mane.png" class="cryImg">
                    Necrozma-Dusk Mane

                <audio controls="">
                    <source src="/public/cries/0800_dusk mane.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0800_dawn wings.png" class="cryImg">
                    Necrozma-Dawn Wings

                <audio controls="">
                    <source src="/public/cries/0800_dawn wings.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0800_ultra.png" class="cryImg">
                    Necrozma-Ultra

                <audio controls="">
                    <source src="/public/cries/0800_ultra.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0801.png" class="cryImg">
                    Magearna

                <audio controls="">
                    <source src="/public/cries/0801.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0802.png" class="cryImg">
                    Marshadow

                <audio controls="">
                    <source src="/public/cries/0802.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0803.png" class="cryImg">
                    Poipole

                <audio controls="">
                    <source src="/public/cries/0803.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0804.png" class="cryImg">
                    Naganadel

                <audio controls="">
                    <source src="/public/cries/0804.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0805.png" class="cryImg">
                    Stakataka

                <audio controls="">
                    <source src="/public/cries/0805.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0806.png" class="cryImg">
                    Blacephalon

                <audio controls="">
                    <source src="/public/cries/0806.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0807.png" class="cryImg">
                    Zeraora

                <audio controls="">
                    <source src="/public/cries/0807.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0808.png" class="cryImg">
                    Meltan

                <audio controls="">
                    <source src="/public/cries/0808.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen7">

                    <img src="/public/images/0809.png" class="cryImg">
                    Melmetal

                <audio controls="">
                    <source src="/public/cries/0809.mp3" type="audio/mpeg">
                </audio>
            </div></div>
    </main>
</section>
