<section>
    <h1>{{title}}</h1>
    <main>
        <p>A Repository containing all Pokémon cries - yes, even the alternate forms!</p>
        <p id="genIndicator">Generation 8</p>
        <div id="pkmnList"><div class="cryButton gen8">

                    <img src="/public/images/0810.png" class="cryImg">
                    Grookey

                <audio controls="">
                    <source src="/public/cries/0810.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0811.png" class="cryImg">
                    Thwackey

                <audio controls="">
                    <source src="/public/cries/0811.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0812.png" class="cryImg">
                    Rillaboom

                <audio controls="">
                    <source src="/public/cries/0812.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0813.png" class="cryImg">
                    Scorbunny

                <audio controls="">
                    <source src="/public/cries/0813.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0814.png" class="cryImg">
                    Raboot

                <audio controls="">
                    <source src="/public/cries/0814.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0815.png" class="cryImg">
                    Cinderace

                <audio controls="">
                    <source src="/public/cries/0815.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0816.png" class="cryImg">
                    Sobble

                <audio controls="">
                    <source src="/public/cries/0816.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0817.png" class="cryImg">
                    Drizzile

                <audio controls="">
                    <source src="/public/cries/0817.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0818.png" class="cryImg">
                    Inteleon

                <audio controls="">
                    <source src="/public/cries/0818.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0819.png" class="cryImg">
                    Skwovet

                <audio controls="">
                    <source src="/public/cries/0819.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0820.png" class="cryImg">
                    Greedent

                <audio controls="">
                    <source src="/public/cries/0820.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0821.png" class="cryImg">
                    Rookidee

                <audio controls="">
                    <source src="/public/cries/0821.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0822.png" class="cryImg">
                    Corvisquire

                <audio controls="">
                    <source src="/public/cries/0822.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0823.png" class="cryImg">
                    Corviknight

                <audio controls="">
                    <source src="/public/cries/0823.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0824.png" class="cryImg">
                    Blipbug

                <audio controls="">
                    <source src="/public/cries/0824.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0825.png" class="cryImg">
                    Dottler

                <audio controls="">
                    <source src="/public/cries/0825.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0826.png" class="cryImg">
                    Orbeetle

                <audio controls="">
                    <source src="/public/cries/0826.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0827.png" class="cryImg">
                    Nickit

                <audio controls="">
                    <source src="/public/cries/0827.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0828.png" class="cryImg">
                    Thievul

                <audio controls="">
                    <source src="/public/cries/0828.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0829.png" class="cryImg">
                    Gossifleur

                <audio controls="">
                    <source src="/public/cries/0829.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0830.png" class="cryImg">
                    Eldegoss

                <audio controls="">
                    <source src="/public/cries/0830.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0831.png" class="cryImg">
                    Wooloo

                <audio controls="">
                    <source src="/public/cries/0831.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0832.png" class="cryImg">
                    Dubwool

                <audio controls="">
                    <source src="/public/cries/0832.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0833.png" class="cryImg">
                    Chewtle

                <audio controls="">
                    <source src="/public/cries/0833.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0834.png" class="cryImg">
                    Drednaw

                <audio controls="">
                    <source src="/public/cries/0834.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0835.png" class="cryImg">
                    Yamper

                <audio controls="">
                    <source src="/public/cries/0835.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0836.png" class="cryImg">
                    Boltund

                <audio controls="">
                    <source src="/public/cries/0836.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0837.png" class="cryImg">
                    Rolycoly

                <audio controls="">
                    <source src="/public/cries/0837.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0838.png" class="cryImg">
                    Carkol

                <audio controls="">
                    <source src="/public/cries/0838.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0839.png" class="cryImg">
                    Coalossal

                <audio controls="">
                    <source src="/public/cries/0839.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0840.png" class="cryImg">
                    Applin

                <audio controls="">
                    <source src="/public/cries/0840.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0841.png" class="cryImg">
                    Flapple

                <audio controls="">
                    <source src="/public/cries/0841.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0842.png" class="cryImg">
                    Appletun

                <audio controls="">
                    <source src="/public/cries/0842.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0843.png" class="cryImg">
                    Silicobra

                <audio controls="">
                    <source src="/public/cries/0843.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0844.png" class="cryImg">
                    Sandaconda

                <audio controls="">
                    <source src="/public/cries/0844.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0845.png" class="cryImg">
                    Cramorant

                <audio controls="">
                    <source src="/public/cries/0845.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0845_gulping.png" class="cryImg">
                    Cramorant-Gulping

                    <img src="/public/images/0845_gorging.png" class="cryImg">
                    Cramorant-Gorging

                <audio controls="">
                    <source src="/public/cries/0845_gulping.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0846.png" class="cryImg">
                    Arrokuda

                <audio controls="">
                    <source src="/public/cries/0846.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0847.png" class="cryImg">
                    Barraskewda

                <audio controls="">
                    <source src="/public/cries/0847.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0848.png" class="cryImg">
                    Toxel

                <audio controls="">
                    <source src="/public/cries/0848.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0849_amped.png" class="cryImg">
                    Toxtricity-Amped

                <audio controls="">
                    <source src="/public/cries/0849_amped.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0849_low key.png" class="cryImg">
                    Toxtricity-Low Key

                <audio controls="">
                    <source src="/public/cries/0849_low key.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0850.png" class="cryImg">
                    Sizzlipede

                <audio controls="">
                    <source src="/public/cries/0850.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0851.png" class="cryImg">
                    Centiskorch

                <audio controls="">
                    <source src="/public/cries/0851.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0852.png" class="cryImg">
                    Clobbopus

                <audio controls="">
                    <source src="/public/cries/0852.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0853.png" class="cryImg">
                    Grapploct

                <audio controls="">
                    <source src="/public/cries/0853.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0854.png" class="cryImg">
                    Sinistea

                <audio controls="">
                    <source src="/public/cries/0854.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0855.png" class="cryImg">
                    Polteageist

                <audio controls="">
                    <source src="/public/cries/0855.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0856.png" class="cryImg">
                    Hatenna

                <audio controls="">
                    <source src="/public/cries/0856.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0857.png" class="cryImg">
                    Hattrem

                <audio controls="">
                    <source src="/public/cries/0857.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0858.png" class="cryImg">
                    Hatterene

                <audio controls="">
                    <source src="/public/cries/0858.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0859.png" class="cryImg">
                    Impidimp

                <audio controls="">
                    <source src="/public/cries/0859.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0860.png" class="cryImg">
                    Morgrem

                <audio controls="">
                    <source src="/public/cries/0860.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0861.png" class="cryImg">
                    Grimmsnarl

                <audio controls="">
                    <source src="/public/cries/0861.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0862.png" class="cryImg">
                    Obstagoon

                <audio controls="">
                    <source src="/public/cries/0862.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0863.png" class="cryImg">
                    Perrserker

                <audio controls="">
                    <source src="/public/cries/0863.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0864.png" class="cryImg">
                    Cursola

                <audio controls="">
                    <source src="/public/cries/0864.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0865.png" class="cryImg">
                    Sirfetch'd

                <audio controls="">
                    <source src="/public/cries/0865.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0866.png" class="cryImg">
                    Mr. Rime

                <audio controls="">
                    <source src="/public/cries/0866.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0867.png" class="cryImg">
                    Runerigus

                <audio controls="">
                    <source src="/public/cries/0867.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0868.png" class="cryImg">
                    Milcery

                <audio controls="">
                    <source src="/public/cries/0868.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0869.png" class="cryImg">
                    Alcremie

                <audio controls="">
                    <source src="/public/cries/0869.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0870.png" class="cryImg">
                    Falinks

                <audio controls="">
                    <source src="/public/cries/0870.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0871.png" class="cryImg">
                    Pincurchin

                <audio controls="">
                    <source src="/public/cries/0871.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0872.png" class="cryImg">
                    Snom

                <audio controls="">
                    <source src="/public/cries/0872.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0873.png" class="cryImg">
                    Frosmoth

                <audio controls="">
                    <source src="/public/cries/0873.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0874.png" class="cryImg">
                    Stonjourner

                <audio controls="">
                    <source src="/public/cries/0874.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0875.png" class="cryImg">
                    Eiscue

                <audio controls="">
                    <source src="/public/cries/0875.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0875_noice.png" class="cryImg">
                    Eiscue-Noice

                <audio controls="">
                    <source src="/public/cries/0875_noice.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0876_male.png" class="cryImg">
                    Indeedee-Male

                <audio controls="">
                    <source src="/public/cries/0876_male.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0876_female.png" class="cryImg">
                    Indeedee-Female

                <audio controls="">
                    <source src="/public/cries/0876_female.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0877_full belly.png" class="cryImg">
                    Morpeko-Full Belly

                <audio controls="">
                    <source src="/public/cries/0877_full belly.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0877_hangry.png" class="cryImg">
                    Morpeko-Hangry

                <audio controls="">
                    <source src="/public/cries/0877_hangry.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0878.png" class="cryImg">
                    Cufant

                <audio controls="">
                    <source src="/public/cries/0878.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0879.png" class="cryImg">
                    Copperajah

                <audio controls="">
                    <source src="/public/cries/0879.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0880.png" class="cryImg">
                    Dracozolt

                <audio controls="">
                    <source src="/public/cries/0880.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0881.png" class="cryImg">
                    Arctozolt

                <audio controls="">
                    <source src="/public/cries/0881.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0882.png" class="cryImg">
                    Dracovish

                <audio controls="">
                    <source src="/public/cries/0882.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0883.png" class="cryImg">
                    Arctovish

                <audio controls="">
                    <source src="/public/cries/0883.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0884.png" class="cryImg">
                    Duraludon

                <audio controls="">
                    <source src="/public/cries/0884.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0885.png" class="cryImg">
                    Dreepy

                <audio controls="">
                    <source src="/public/cries/0885.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0886.png" class="cryImg">
                    Drakloak

                <audio controls="">
                    <source src="/public/cries/0886.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0887.png" class="cryImg">
                    Dragapult

                <audio controls="">
                    <source src="/public/cries/0887.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0888_hero of many battles.png" class="cryImg">
                    Zacian-Hero of Many Battles

                <audio controls="">
                    <source src="/public/cries/0888_hero of many battles.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0888_crowned sword.png" class="cryImg">
                    Zacian-Crowned Sword

                <audio controls="">
                    <source src="/public/cries/0888_crowned sword.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0889_hero of many battles.png" class="cryImg">
                    Zamazenta-Hero of Many Battles

                <audio controls="">
                    <source src="/public/cries/0889_hero of many battles.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0889_crowned shield.png" class="cryImg">
                    Zamazenta-Crowned Shield

                <audio controls="">
                    <source src="/public/cries/0889_crowned shield.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0890.png" class="cryImg">
                    Eternatus

                <audio controls="">
                    <source src="/public/cries/0890.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0890_eternamax.png" class="cryImg">
                    Eternatus-Eternamax

                <audio controls="">
                    <source src="/public/cries/0890_eternamax.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0891.png" class="cryImg">
                    Kufbu

                <audio controls="">
                    <source src="/public/cries/0891.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0892_single strike.png" class="cryImg">
                    Urshifu-Single Strike

                <audio controls="">
                    <source src="/public/cries/0892_single strike.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0892_rapid strike.png" class="cryImg">
                    Urshifu-Rapid Strike

                <audio controls="">
                    <source src="/public/cries/0892_rapid strike.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0893.png" class="cryImg">
                    Zarude

                <audio controls="">
                    <source src="/public/cries/0893.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0894.png" class="cryImg">
                    Regieleki

                <audio controls="">
                    <source src="/public/cries/0894.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0895.png" class="cryImg">
                    Regidrago

                <audio controls="">
                    <source src="/public/cries/0895.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0896.png" class="cryImg">
                    Glastrier

                <audio controls="">
                    <source src="/public/cries/0896.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0897.png" class="cryImg">
                    Spectrier

                <audio controls="">
                    <source src="/public/cries/0897.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0898.png" class="cryImg">
                    Calyrex

                <audio controls="">
                    <source src="/public/cries/0898.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0898_ice rider.png" class="cryImg">
                    Calyrex-Ice Rider

                <audio controls="">
                    <source src="/public/cries/0898_ice rider.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0898_shadow rider.png" class="cryImg">
                    Calyrex-Shadow Rider

                <audio controls="">
                    <source src="/public/cries/0898_shadow rider.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0899.png" class="cryImg">
                    Wyrdeer

                <audio controls="">
                    <source src="/public/cries/0899.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0900.png" class="cryImg">
                    Kleavor

                <audio controls="">
                    <source src="/public/cries/0900.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0901.png" class="cryImg">
                    Ursaluna

                <audio controls="">
                    <source src="/public/cries/0901.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0902_male.png" class="cryImg">
                    Basculegion-Male

                    <img src="/public/images/0902_female.png" class="cryImg">
                    Basculegion-Female

                <audio controls="">
                    <source src="/public/cries/0902.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0903.png" class="cryImg">
                    Sneasler

                <audio controls="">
                    <source src="/public/cries/0903.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0904.png" class="cryImg">
                    Overqwil

                <audio controls="">
                    <source src="/public/cries/0904.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0905_incarnate.png" class="cryImg">
                    Enamorus-Incarnate

                <audio controls="">
                    <source src="/public/cries/0905_incarnate.mp3" type="audio/mpeg">
                </audio>
            </div><div class="cryButton gen8">

                    <img src="/public/images/0905_therian.png" class="cryImg">
                    Enamorus-Therian

                <audio controls="">
                    <source src="/public/cries/0905_therian.mp3" type="audio/mpeg">
                </audio>
            </div></div>
    </main>
</section>
