<section>
    <h1>{{title}}</h1>
    <main>
        <p>here is a cry for testing</p>
        <div>
            <img src="../../public/images/737.png" alt="737" style="width:50px;height:50px;">
            Charjabug
            <audio controls>
                <source src="../../public/cries/737.mp3" type="audio/mpeg">
            </audio>
        </div>
    </main>
</section>
