<section>
    <h1>Pokémon Cries Quiz</h1>
    <div class="landingButtonContainer">
        <a href="list">
            <div class="landingButton landingList">
                <span>Train</span>
            </div>
        </a>
        <a href="quiz">
            <div class="landingButton landingView">
                <span>Quiz</span>
            </div>
        </a>
    </div>
</section>
