<section>
    <h1>{{title}}</h1>
    <main>
        <p>A Repository containing all Pokémon cries - yes, even the alternate forms!</p>
        <p id="genIndicator">Select a gen to narrow the list down!</p>
        <div id="pkmnList"></div>
    </main>
</section>
<script src="/public/js/list.js"></script>
