<section>
    <nav class="genSelector">
        <ul id="genList">
            <li id="genList1">Generation 1</li>
            <li id="genList2">Generation 2</li>
            <li id="genList3">Generation 3</li>
            <li id="genList4">Generation 4</li>
            <li id="genList5">Generation 5</li>
            <li id="genList6">Generation 6</li>
            <li id="genList7">Generation 7</li>
            <li id="genList8">Generation 8</li>
        </ul>
        <ul>
            <li id="showAll">Show all</li>
            <li id="showNone">Show none</li>
        </ul>
    </nav>
    <h1>{{title}}</h1>
    <main>
        <p>A Repository containing all Pokémon cries - yes, even the alternate forms!</p>
        <p id="genIndicator">Select a gen to narrow the list down!</p>
        <div id="pkmnList"></div>
    </main>
</section>
<script src="/public/js/list.js"></script>
