<section>
    <nav id="langSelector">
        <ul id="langList">
            <li id="langEN" class="langList">English</li>
            <li id="langJP" class="langList">Japanese</li>
            <li id="langFR" class="langList">French</li>
            <li id="langES" class="langList">Spanish</li>
            <li id="langDE" class="langList">German</li>
            <li id="langIT" class="langList">Italian</li>
            <li id="langKR" class="langList">Korean</li>
            <li id="langZH_T" class="langList">Chinese (Traditional)</li>
            <li id="langZH_S" class="langList">Chinese (Simplified)</li>
        </ul>
    </nav>
    <nav id="genSelector">
        <ul id="genList">
            <li id="genList1" class="genList unselectedGen">Generation 1</li>
            <li id="genList2" class="genList unselectedGen">Generation 2</li>
            <li id="genList3" class="genList unselectedGen">Generation 3</li>
            <li id="genList4" class="genList unselectedGen">Generation 4</li>
            <li id="genList5" class="genList unselectedGen">Generation 5</li>
            <li id="genList6" class="genList unselectedGen">Generation 6</li>
            <li id="genList7" class="genList unselectedGen">Generation 7</li>
            <li id="genList8" class="genList unselectedGen">Generation 8</li>
            <li id="genList9" class="genList unselectedGen">Generation 9</li>
        </ul>
        <div id="belowGenSelector">
            <div class="toggleWrapper">
                <input type="checkbox" class="toggleInput" id="toggleRetroInput">
                <label class="toggleSwitch" id="toggleRetroSwitch" for="toggleRetroInput">
                    <span class="toggleSlider" id="toggleRetroSlider"></span>
                </label>
            </div>
            <ul id="genListExtras">
                <li id="showAll" class="genList">Show all</li>
                <li id="showNone" class="genList">Show none</li>
            </ul>
        </div>
    </nav>
    <h1>{{title}}</h1>
    <main>
        <p>A Repository containing all Pokémon cries - yes, even the alternate forms!</p>
        <p id="genIndicator">Select a gen to narrow the list down!</p>
        <div id="pkmnList"></div>
    </main>
</section>
<script src="/public/js/list.js"></script>
