<section>
    <nav id="langSelector">
        <ul id="langList">
            <li id="langEN" class="langList">English</li>
            <li id="langJP" class="langList">Japanese</li>
            <li id="langFR" class="langList">French</li>
            <li id="langES" class="langList">Spanish</li>
            <li id="langDE" class="langList">German</li>
            <li id="langIT" class="langList">Italian</li>
            <li id="langKR" class="langList">Korean</li>
            <li id="langZH_T" class="langList">Chinese (Traditional)</li>
            <li id="langZH_S" class="langList">Chinese (Simplified)</li>
        </ul>
    </nav>
    <nav id="genSelector">
        <ul id="genList">
            <li id="genList1" class="genList">Generation 1</li>
            <li id="genList2" class="genList">Generation 2</li>
            <li id="genList3" class="genList">Generation 3</li>
            <li id="genList4" class="genList">Generation 4</li>
            <li id="genList5" class="genList">Generation 5</li>
            <li id="genList6" class="genList">Generation 6</li>
            <li id="genList7" class="genList">Generation 7</li>
            <li id="genList8" class="genList">Generation 8</li>
            <li id="genList9" class="genList">Generation 9</li>
        </ul>
        <ul id="genListExtras">
            <li id="showAll" class="genList">Select all</li>
            <li id="showNone" class="genList">Select none</li>
        </ul>
    </nav>
    <h1>{{title}}</h1>
    <main>
        <p>Protip: Enable Audio autoplay in your browser for a seamless experience.<br>
        Protip: Use Ctrl+Space to easily replay audio.</p>
        <div id="containerContainer">
            <div id="togglesContainer">
                <div class="toggleWrapper">
                    <input type="checkbox" class="toggleInput" id="toggleHardcoreInput">
                    <label class="toggleSwitch" for="toggleHardcoreInput">
                        <span class="toggleSlider" id="toggleHardcoreSlider"></span>
                    </label>
                </div>
                <br>
                <div class="toggleWrapper">
                    <input type="checkbox" class="toggleInput" id="toggleSlowInput">
                    <label class="toggleSwitch" for="toggleSlowInput">
                        <span class="toggleSlider" id="toggleSlowSlider"></span>
                    </label>
                </div>
                <br>
                {{!-- <div class="toggleWrapper">
                    <input type="checkbox" class="toggleInput" id="toggleUnboundInput">
                    <label class="toggleSwitch" for="toggleUnboundInput">
                        <span class="toggleSlider" id="toggleUnboundSlider"></span>
                    </label>
                </div>
                <br> --}}
                <div class="toggleWrapper">
                    <input type="checkbox" class="toggleInput" id="toggleRetroInput">
                    <label class="toggleSwitch" for="toggleRetroInput">
                        <span class="toggleSlider" id="toggleRetroSlider"></span>
                    </label>
                </div>
                <br>
                <div class="toggleWrapper">
                    <input type="checkbox" class="toggleInput" id="toggleSimpleInput">
                    <label class="toggleSwitch" for="toggleSimpleInput">
                        <span class="toggleSlider" id="toggleSimpleSlider"></span>
                    </label>
                </div>
            </div>
            <div id="answerContainer">
                <div id="answerImg"></div>
                <audio controls id="quizAudio"></audio>
                <br>
                <input id="quizInput" autocomplete="off" type="text" placeholder="Type a Pokémon..." size="45">
                <div hidden id="dropdown">
                    <ul id="searchResults"></ul>
                </div>
                <div hidden id="awaitEnter">
                    <p>Press the enter button to continue!</p>
                </div>
            </div>
            <div id="statsContainer">
                <div id="skipButton">
                    I give up!!!
                </div>
                <p id="completed">Completed:</p>
                <p id="curStreak">Current streak:</p>
                <p id="maxStreak">Longest streak:</p>
                <p id="skipsUsed">Skips used:</p>
                <p id="precision">Accuracy:</p>
            </div>
        </div>
    </main>
</section>
<script src="/public/js/quiz.js"></script>
