<section>
    <h1>{{title}}</h1>
    <main>
        <p>Protip: Enable Audio autioplay in your browser for a seamless experience.</p>
        <div id="answerImg"></div>
        <audio controls id="quizAudio"></audio>
        <div aria-expanded="false">
            <input id="quizInput" autocomplete="off" type="text" placeholder="Type a Pokémon..." size="45">
            <div id="dropdown"></div>
        </div>
    </main>
</section>
<script src="/public/js/quiz.js"></script>
